[2014-12-01 16:42] tbstevens opened #56 "View Applications: Search function"
Issue:
-----------
A search function appears in the right corner of the table listing for Viewing applications.

Expected:
---------------
The user can use the filters section to filter the results (across all applications, not just the page they are viewing). The search function can be removed from the page.

[2014-12-04 21:29] tbstevens opened #61 "View Application: Sort arrows"
Issue:
-----------
1. Sort arrows are appearing on every column.
2. Sort arrows are the wrong direction. Pointing up on desc order and down on asc order.

Expected
--------------
1. the arrow should only appear on the column that the table is currently sorted on.
2. The arrow should point down when descending and up when ascending.

[2014-12-08 15:03] tbstevens opened #68 "Able to calculate pricing options without required fields selected"
Issue:
-----------
Users are able to view Pricing options without first entering all the required information

Expected
-------------
When users are calculating payments prior to creating an application, they must have the following entered:
1. Equipment price
2. At least one pricing product selected
3. At least one purchase option selected
4. At least one term selected.

If the user presses calcu

[2014-12-08 19:48] tbstevens opened #71 "View Application: Font cannot be styled on headers"
Issue:
--------
The font in the application listing headers cannot be uniquely styled because it is wrapped in an <i> tag that is preventing it from being styled.

Expected
------------
Administrators of the portal should be able to uniquely style the fonts of a portal by setting the font-family in the body tag. Wrapping text in an <i> tag prevent this from occuring due to the classes applied to t

[2014-12-08 22:03] tbstevens opened #76 "Add "Create Credit Application" button to View Applications screen"
Enhancement:
-------------------
When viewing applications, the user should have the ability to click on "Create Credit Application" which would take the user to the Payment Calculator screen.

[2014-12-09 18:20] tbstevens opened #77 "Hide Sites from Dockbar for Site Users"
Enhancement:
------------------
When a site level user logs in (sales rep, sales manager), only display the user info in the dock bar (sign in/sign out). Hide the site options in the dockbar, and hide the Notifications indicator.

[2014-12-09 18:40] tbstevens opened #82 "Move Equipment Description textarea to left of Equipment Price"
Enhancement:
------------------
In the Equipment Information section, move the textarea for Equipment Description to the left of the defaulted Equipment Price Field. Equipment Price should appear to the right of the Equipment Description field in one line.

[2014-12-09 18:45] tbstevens opened #84 "Modify Document & Media App on page to directly open document"
Enhancement:
---------------------
Creekridge will have a Marketing Materials page displaying documents with the Document & Media application that comes out of the box with Liferay.

The current functionality of that application displays documents and when clicked on, takes the user to a document details page that displays various information about the document. They would like to skip this page a

[2014-12-09 18:45] tbstevens opened #85 "Change logo size"
Enhancement:
-----------------
Change logo size

[2015-01-05 20:19] Creekridge opened #91 "View Site in FireFox"
Site does not show up correctly when viewing in FireFox. Works in IE.

[2015-01-05 20:20] Creekridge opened #92 "Log-in Page: Delete "Welcome" Line"
Don't really see a point to having it. Just keep page simple.

[2015-01-05 20:22] Creekridge opened #93 "Blue Floating Box on Upper-Right Corner"
Is it possible to remove this for Vendor Sales Managers and Vendor Reps as they will only have access to 1 Vendor site? It's OK to keep it on Admin and Creekridge Sales Reps pages as they will have access to multiple vendor sites.

[2015-01-05 20:27] Creekridge opened #94 "View Application Page: Filters Box"
I'm not sure if we were planning on adding some functionality to this area, but if not, can we remove the grey filters box on the left-hand side? Not sure if we'd even need it anyways as the arrows and search can perform those functions...

[2015-01-05 20:28] Creekridge opened #95 "Payment Calculator: Not Saving Business Description and Requires clearing of pricing options to re-calculate."
Original issue updated to text below [Tom]

Issue
----------
When a user attempts to save details entered on an app, the Business Description value is not saved.
In addition, when a user attempts to modify the equipment price and re-calculate, the user is forced to clear all pricing options as well.

Expected
----------------
1. Business Description value should be saved when pressing Save.
2. If

[2015-01-05 20:30] Creekridge opened #96 "Payment Calculator: Need to Set Required Fields"
Tom, I'm guessing we'll work on this later this week as you need to know. Just logging this issue so we know it's there!

[2015-01-05 20:30] Creekridge opened #97 "Generate Credit App"
This didn't work for me when I tested it.

[2015-01-05 20:32] Creekridge opened #98 "Generate Proposal: PDF Logo and Text"
Not sure if this isn't working, because the example "Vendor" does not have all info filled out...but on generated proposal the PDF isn't pulling the logo and some of the text/formatting is a tad off. I can get more specific when we meet on Thursday.

[2015-01-05 20:33] Creekridge opened #99 "Marketing Materials/Reporting: Remove Extra Screen"
Enhancement Request
--------------------------------
From the Marketing Materials and Reporting screens, documents should download when clicked on vs taking user to a preview screen.

Requirements
--------------------
1. Create a custom modification to the document library portlet to be used in the Reporting page and Marketing Materials page.
2. Modify the action taken when clicking on a document

[2015-01-05 20:36] Creekridge opened #100 "Returning to Site Shortly after Left"
I noticed that when I returned to the site after leaving, it just showed a screen that said "you are currently logged in"....any way to have this show up as View Applications? Or, could we have the site auto log-out a user after they leave the site/close the window?

[2015-01-05 20:38] Creekridge opened #101 "Payment Calculator: Price Field "$" Sign"
Issue:
------------
Equipment price doesn't format with a $, commas, and decimal until after the user chooses to continue into credit app.

Expected
-------------
Equipment price should be formatted with a $, commas, and decimal after the user tabs off the field or presses calculate.

Notes: Field needs to be masked with $, commas, and decimal in the correct places without impacting the calculatio

[2015-01-05 20:45] Creekridge opened #102 "Payment Calculator: Phone and Fax Fields"
For Customer info, Principal Info and Bank Reference: can the phone a fax numbers automatically show as "(507) 456-7898" when you type it in vs. showing up in different styles like they currently are?

[2015-01-05 20:58] Creekridge opened #103 "Payment Calculator: Required Field Error Message"
Any way to include the heading in the error message. Right now it reads "Address Line 1: This field is required." and I'm not sure where it's at unless I scroll through and see the red (It could be customer address, principal address, bank address). Can we make this a little more clear and have it read "Customer Address Line 1: This field is required."

[2015-01-05 21:01] Creekridge commented on #97
@tbstevens now it's working!

[2015-01-05 21:01] tbstevens commented on #100
@Creekridge  - Good catch there. We'll have to figure out what the best approach is on this one. We can add to the list for Thursday's meeting. It's taking all users back to the one public login page at the portal site. We could make a change to force a redirect to the site home page for site level users, but for portal level users we wouldn't know which site to redirect to.

[2015-01-05 21:05] tbstevens commented on #102
@olegforce - Could you modify the credit application page to standardize the field to include the mask of (999) 999-9999 for phone and fax?

[2015-01-05 21:08] Creekridge commented on #95
@tbstevens got it. However, if I change the price, the "Calculate Payments" button does not work, unless I uncheck and reselect pricing, product and term options. Any way to either have the "Calculate Payments" button work when new price is selected....or have pricing, product, terms remove options so I"m forced to reselect to calculate? As it is...it's kind of confusing...

[2015-01-05 21:09] tbstevens commented on #101
The $ sign does appear with commas and decimal point once you calculate the value. Having it format after the field loses focus would be more complex as it would require the value to be trimmed of characters for the calculation and then reapply the characters after calculation. Is it acceptable for the equipment price to appear with $, commas and decimals after pressing the calculate button? It al

[2015-01-05 21:11] tbstevens commented on #103
@OlegForce - Would it be pretty quick for you to modify the error messaging if I provided you with a spreadsheet mapping each field to a field category so the error messages could include the field category in the error messaging? Alternatively, I could just provide an update to each error message to plugin. Let me know.

[2015-01-05 21:13] tbstevens commented on #91
@Creekridge  - I'll take a look at this. I'm unable to install it on your server so I'll take a look on my own server later today to figure out what features aren't displaying correctly. The out of the box liferay portal is fine in firefox so I would assume it is a specific set of custom portlets that aren't displaying correctly?

[2015-01-05 21:16] Creekridge commented on #92
@tbstevens got it, please change it to read "Log In"

[2015-01-05 21:18] Creekridge commented on #101
@tbstevens got it, leave it as-is. Just wanted to make sure it was cleaned up at some point. Thanks!

[2015-01-05 21:20] Creekridge commented on #91
@tbstevens, just the "View Applications" page isn't showing up correctly in FireFox.

[2015-01-05 21:21] Creekridge opened #104 "View Mobile/Tablet Versions"
@tbstevens can we see what the site will look like when viewed on Mobile/Tablet on Thursday?

[2015-01-05 21:23] tbstevens commented on #92
Changed.

[2015-01-05 21:23] #92 closed

[2015-01-05 21:26] tbstevens commented on #104
@Creekridge  - yes. Also, if you wanted to emulate it, Liferay does have an option when you login as an admin to see what it would look like from the perspective of a smartphone or tablet. On the left dockbar (floating blue menu on the left) there is an icon that looks like a monitor. You can change it to tablet or smartphone to see what it would look like.

[2015-01-05 21:33] tbstevens commented on #95
@creekridge - Thanks for the update -- I'll modify the description of the bug up above.

[2015-01-05 21:36] Creekridge commented on #104
@tbstevens I'm trying to log in as admin, but my "mgannott@creekridgecapital.com" isn't working with the password you emailed over before. Please assist.

[2015-01-05 21:37] #97 closed

[2015-01-05 21:42] tbstevens commented on #104
@Creekridge - You should receive an email with your password reset. I'll also email you in case you don't receive it. If you don't receive it, let me know because that would be an issue we should log.

[2015-01-05 21:49] Creekridge commented on #104
@tbstevens  no email, but it worked when I tried to log-in and got to reset it. Please log issue.

[2015-01-05 21:50] Creekridge opened #105 "Sales Managers Add/Edit their Sales Reps?"
How are Vendor Sales Managers able to Add/Remove/Manage their Sales Reps on the site?

[2015-01-05 22:05] Creekridge opened #106 "Edit All Vendor Sites for Both Sandy an Megan"
@tbstevens this is Megan. When I log in as admin, I can edit information on the "Sample Vendor 1" site, but unable to edit stuff (logo, etc.) on the "Vendor Services Group" site. Sandy and I both need access to edit all Vendor websites.

[2015-01-05 22:17] Creekridge opened #107 "Set Up Creekridge Sales Managers"
@tbstevens we're assuming this will be included in Thursday's meeting, but just logging it to make sure! These are our Sales Managers who will need access to see deals via different vendors.

[2015-01-05 22:27] tbstevens commented on #105
@Creekridge - I believe the enhancement request was for a separate role "Site Admin" to have that ability, not a Sales Manager. However, it is another planned topic for Thursday. Without pretty significant modifications to Liferay, Site level users are not permitted to add users to the portal. They are only permitted to add an already created user to their site. The user could be added one of two

[2015-01-05 22:31] tbstevens commented on #106
@creekridge - Hi Megan. Could you logout and log back in to see if you now have correct permissions? It looks like Sandy was setup as a portal admin but you were not. I modified you to also be setup as a portal admin.

[2015-01-05 22:48] tbstevens commented on #107
@creekridge -

Yep, part of the meeting on Thursday. Until then:

1. Click on Admin
2. Click on Users and Organizations
3. Click on Add +
4. From dropdown, select Add User.
5. Enter details for user.
6. Click Save
7. Pressing Save takes you to the Edit User screen with more options.
8. From the right panel, click on Password and set a temp password.
9. From right panel, click on sites, and assign

[2015-01-05 22:56] tbstevens commented on #98
@kdolan12 @divinami - We will need to talk through this one.

[2015-01-05 22:58] tbstevens commented on #91
@OlegForce - Oleg, it appears the View Applications page is not displaying as expected in Firefox and it is also not responsive on a mobile size. Any chance you could take a look at this screen to make it both responsive and display appropriately in versions that should be supported for Firefox, Chrome and IE?

[2015-01-06 14:44] Creekridge commented on #107
@tbstevens thanks!

[2015-01-06 20:49] Creekridge opened #108 "Credit App PDF"
@tbstevens let's put this on tomorrow's topic to talk about: making the Credit App PDF to fit on one page (preferred)..maybe two. Three pages seems to get to be too much.

[2015-01-07 01:56] OlegForce commented on #95
Business Desc is now saved to db. I added reset action when amount is changed. Let me know if that will work.

[2015-01-07 02:00] OlegForce commented on #76
done :) sorry for the delay.

[2015-01-07 02:00] #76 closed

[2015-01-07 02:25] OlegForce commented on #103
I use js to figure out the section name based on field location. Give it a shot and let me know if that works.

[2015-01-07 03:25] OlegForce commented on #91
this should take care of it.

[2015-01-07 03:25] #91 closed

[2015-01-07 14:47] tbstevens commented on #95
@OlegForce  - Now when you change the Equipment price and tab off of it, it maintains  the previously selected pricing products, but it hides the purchase options and term fields forcing you to clear them and reselect them. The goal would be to allow them to change the price only and press calculate without having to reselect those options.

[2015-01-07 14:49] tbstevens commented on #103
Looks good to me. Re-opening this one to allow Creekridge to test it.

[2015-01-07 14:51] #104 closed

[2015-01-07 14:52] #107 closed

[2015-01-07 14:52] tbstevens commented on #106
@creekridge - Hi Megan - did you confirm whether or not you're now able to edit the Vendor Services Group site as an admin?

[2015-01-07 14:53] #85 closed

[2015-01-07 14:54] #84 closed

[2015-01-07 14:54] #71 closed

[2015-01-07 14:54] #68 closed

[2015-01-07 14:54] #56 closed

[2015-01-07 15:15] Creekridge commented on #103
@tbstevens I'm not seeing the section name on in the errors. Still reads "Address Line 1 : This field is required."

[2015-01-07 15:17] Creekridge commented on #106
@tbstevens yes, I can now edit the page as admin.

[2015-01-07 15:18] Creekridge opened #109 "Extra Comma in Proposal PDF"
Noticed a “ , “ above Dear…

[2015-01-07 15:23] Creekridge opened #110 "Error Message After Emailing a Proposal"
On the screen after emailing a proposal, even though the email went through I got a "Not Found: The requested resource was not found. http://crcvip:8080/group/sample-vendor-1/managedocument?creditAppId=1" error message.

[2015-01-07 15:55] Creekridge opened #111 "Default Filter to Saved Status"
On View Apps page, have it automatically default the filter to "Saved" status.

[2015-01-07 15:56] Creekridge opened #112 "Change "Draft" Status to "Priced""
...makes more sense.

[2015-01-07 15:58] Creekridge opened #113 "Equipment Discription Field"
This still hasn't been moved. We'd like it to the left of the Equipment price.

[2015-01-07 16:02] Creekridge opened #114 "Auto-Save Inputted Information"
As we are testing, we're finding that some users aren't hitting the "save" button and getting frustrated to need to re-input data. Can we have it auto-save once they leave the page?

[2015-01-07 16:04] Creekridge opened #115 "Mask Social Security Numbers"
Enhancement Request:
-------------------------------
Principals already added to the application should have their SSN masked.

Requirements
----------------------------------
1. On the Application edit screen, after adding a principal from the modal, if an SSN has been entered on the principal, it should be displayed on the screen as XXX-XX-9999 with only the last 4 digits displayed on the screen

[2015-01-07 16:04] Creekridge opened #116 "Required Fields"
We need to make sure the set required fields. Many are not set yet.

** Modified to include issues that require resolution **

Issue:
-------------
Not all required fields are listed as required.

Expected:
----------------
**Customer section**
1. Phone (Contact section) is a required field.
2. Zip (Customer Address) is a required field.

**Principal section**
The fields listed below shall appear

[2015-01-07 16:10] Creekridge opened #117 "UI Improvements for View Applications page"
Issue:
------------------
1. Too many filters.
2. Filters are not desired on left part of page -- takes up too much real estate.
3. Page needs to be responsive.
4. Page needs to display correctly in all major browsers -- Chrome, IE, Firefox, Safari
5. Table grid could look nicer.

Expected
----------------
1. Filters should appear horizontally above the grid of applications.
2. There should only b

[2015-01-07 16:10] Creekridge opened #118 "Logo size in Mobile/Tablet Version"
The logo size is so small you cannot read it.

[2015-01-07 16:18] tbstevens commented on #114
@Creekridge - I'll work with our developer to determine what the best options are for autosave. There isn't an easy mechanism for saving when a user takes action outside of the form itself, but we can look into ways to potentially have the form save each time a field moves focus (tab out, mouse out, etc). Because this could be a bigger change, I'll get an estimate from them to make sure we want to

[2015-01-07 16:20] Creekridge commented on #114
@tbstevens could we just start with having it save when we hit "manage documents"?

[2015-01-07 16:23] tbstevens commented on #116
@Creekridge - Is this in reference to the credit application or another screen?

[2015-01-07 16:24] tbstevens commented on #117
Already logged as a bug with the firefox issue - developer working on fix.

[2015-01-07 16:25] Creekridge commented on #117
@tbstevens please be aware it's also happening in Safari

[2015-01-07 16:26] Creekridge opened #119 "CSS Field"
Can we make the CSS field bigger for admins?

[2015-01-07 16:27] Creekridge commented on #116
@tbstevens in the Payment Calculator as information inputted into Customer Information, Principal and Bank fields.

[2015-01-07 16:28] tbstevens commented on #119
@Creekridge - The CSS field is a control panel screen provided out of the box by Liferay. To modify this screen would require additional customization. We can look into this if desired. Alternatively, all textareas in Chrome are rendered with a resizable drag option to make the textarea larger on any screen. Otherwise, what I had been doing is simply copying the content, modifying it in a CSS edit

[2015-01-07 16:29] Creekridge commented on #101
@tbstevens can we look into having the field ad comma's and periods? Maybe we could just put a "$" sign prior to the field???

[2015-01-07 16:31] Creekridge commented on #101
@tbstevens or could the format just be a mask?

[2015-01-07 16:31] tbstevens commented on #116
@Creekridge - Let me know which fields in the customer section are not listed as required and we can update. For principal and bank, that could be a little more complex. Is it required to have at least one principal included and at least one bank reference included? If not, should specific fields be required only if the user has decided to add a principal or bank reference?

[2015-01-07 16:33] tbstevens commented on #114
@Creekridge - If you would prefer for this to just be logged as a defect to save when pressing manage docs, we can do that.

[2015-01-07 16:35] Creekridge commented on #114
@tbstevens yes, please do that. Let's discuss auto-save tomorrow.

[2015-01-07 16:39] Creekridge commented on #116
@tbstevens the required fields we had on our old site are the same for this one. We do not require at least one principal or bank reference. However, we would need specific fields to be required only if the user as added them, which are also shown on our old site.

[2015-01-07 16:42] tbstevens opened #120 "XML Export file not generating on submission"
Issue:
------------
Credit app is submitted but no xml file shows up on the creditApp folder. The error message appearing in Eclipse shows:

16:08:52,526 ERROR [PaymentCalculatorUtil:209] com.tamarack.creekridge.NoSuchRateFactorRuleException: No RateFactorRule exists with the primary key 0
16:08:52,578 ERROR [PaymentCalculatorUtil:264] java.lang.RuntimeException: java.lang.NullPointerException

Wh

[2015-01-07 16:47] tbstevens commented on #120
@divinami - reassigning to Oleg. Just noticed that the creditApp record is not saving the rateFactorRuleID.

[2015-01-07 16:51] tbstevens commented on #118
@Creekridge - I'll work with the developers to determine if there is a way to prevent this from occuring. The site logo and responsiveness of the logo are based on the standard Liferay styling.

[2015-01-07 17:02] tbstevens commented on #116
@creekridge -- I updated the description of this issue to include the specific modifications required to fulfill the expected required fields. Could you confirm that this is accurate? I used your existing site to determine where the gaps were. I did not see any required fields in the existing site for bank references. I had missed the principal section requirements because they don't appear with a

[2015-01-07 17:16] tbstevens commented on #103
@Creekridge - Sorry, it hasn't been deployed yet. I'll assign this to myself until it is deployed to prevent confusion.

[2015-01-07 17:20] tbstevens opened #121 "Save application when Manage Document button is pressed"
Issue
----------
When a user fills out some fields and then presses on Manage Docs, all data entered on the application is lost.

Expected
------------
When pressing the Manage Docs button, the application is validated and saved prior to moving the user to the Manage Documents screen.

Note: The enhancement request to auto-save or save on leaving the screen (regardless of method of leaving screen)

[2015-01-07 17:29] Creekridge commented on #116
Please add email to Customer required fields.  Our current site doesn't have any required fields for Bank reference - I'll need to check and see if we want to require any.  Principals look correct.

[2015-01-07 17:32] Creekridge opened #122 "City Field Location - Customer and Equipment Address"
Please move the City field to the line with the State and Zip instead of with Address 1 and Address 2.

[2015-01-07 17:34] Creekridge commented on #103
@tbstevens sounds good, thanks!

[2015-01-07 17:38] Creekridge commented on #94
We might be okay with the grey box being there if the filters actually worked.  Right now, it's a grey box with the labels, but no drop down/fill in options.  We also need to discuss which filter options are available - for example, I really doubt a sales rep is going to remember an app number to be able to search for it.

[2015-01-07 17:43] tbstevens commented on #94
@Creekridge - I'm going to open a separate new related issue. My environment shows the filters just fine. It appears the filters section has an issue only on the production server. We'll need to figure out the cause.

[2015-01-07 17:43] Creekridge commented on #108
Also - this is the old version - not the one we sent to you on the 19th.

[2015-01-07 17:44] tbstevens opened #123 "View Application Filters not appearing in prod"
Issue
---------
Filters section of view application screen should include dropdowns or a search box for filters. They are not appearing on the production server (same browser and version).

Expected
------------
Filters should appear with dropdowns.

[2015-01-07 17:49] Creekridge commented on #82
Or just below the Equipment Price and not below the Equipment Address

[2015-01-07 17:50] Creekridge commented on #113
Or just below the Equipment price if it cannot go to the left.

[2015-01-07 17:51] tbstevens commented on #101
@creekridge - Let me make sure I understand this request before taking it to the developer.
The site currently takes a value entered by a user and reformats it after pressing calculate. I believe up above it was decided to just move forward with that but perhaps based on feedback, are we now deciding the formatting is needed as the user enters the value? More specifically, we need to make a change

[2015-01-07 17:51] tbstevens commented on #82
Duplicate

[2015-01-07 17:51] #82 closed

[2015-01-07 17:53] tbstevens commented on #108
@Creekridge - the credit application is part of the discussion on Thursday -- included with the list of other enhancements.

[2015-01-07 17:56] Creekridge commented on #101
Production isn't reformatting it at all.  We would prefer it to reformat immediately as our old site does, but if it isn't possible, we'll live with reformatting on calculate.

[2015-01-07 17:59] tbstevens commented on #122
@creekridge - Looking on the prod server right now. The customer address section is 1 row. But the row is responsive based on the monitor size. If the screen resolution doesn't fit all fields horizontally in one row, it pushes those fields below into a 2nd row. This is the standard for responsive design. I don't believe this is an issue. If you agree, please close the issue with the gray button be

[2015-01-07 18:00] tbstevens commented on #111
@creekridge - Closing this issue as it is related to the same open issue causing the filter dropdowns to not appear on the prod server. When the dropdowns appear, the page is properly defaulted to Saved status

[2015-01-07 18:00] #111 closed

[2015-01-07 18:07] #122 closed

[2015-01-07 19:53] tbstevens commented on #101
@Creekridge  - Just went out to production. I misspoke. The reformatting occurs after you choose to move forward with the calculation and into the credit app. Once you move into the credit app by selecting a pricing option and clicking continue, the equipment price in the payment calculator section appears with $, commas, and decimal. It also appears this way when coming in from a saved app in pro

[2015-01-07 19:55] tbstevens commented on #101
@OlegForce  - Assigned this to you. You can ignore the commentary below the description of this issue. I updated the description to contain the info you need. Let me know if you have questions.

[2015-01-07 21:00] tbstevens commented on #123
@psakia - Could you take a look at this? The dropdowns/column filtering is being done through jquery. Worked fine in my local environment and was working in prod. Now it is not. Still working in my local environment though.

[2015-01-07 21:25] tbstevens commented on #103
@Creekridge - deployed the changes. The new error messages should now appear to re-test.

[2015-01-08 03:05] OlegForce commented on #113
moved it to the left of price, but had to make it a regular input field vs text area for esthetics.

[2015-01-08 03:07] psakia commented on #123
I found some characters  ï»¿ at the very top left of the file  "jquery.dataTables.columnFilter.js" which cause syntactical errors and prevent the rest of the functions to be loaded properly.
This file  "jquery.dataTables.columnFilter.js" seems was accidentally edited during delivery process to Creek Ridge production environment.
Let's remove these characters and test.

[2015-01-08 03:28] OlegForce commented on #95
try it now.

[2015-01-08 04:49] OlegForce commented on #116
let me know if print out of errors in modal is not required.

[2015-01-08 05:05] OlegForce commented on #121
validates and saves app on click now.

[2015-01-08 14:38] Creekridge opened #124 ""Contact Us" Link Name"
@tbstevens can the link be call just "Contact"?

[2015-01-08 15:03] tbstevens commented on #102
@OlegForce - The formatting is correct on both fields. However, the fax field is giving an error message stating "Please enter only digits". Only digits were entered so I'm assuming it is just a piece of validation that needs to be removed since the mask contains characters other than digits. Doesn't appear to be an issue on the phone field.

[2015-01-08 15:05] tbstevens commented on #116
@OlegForce - Looks like everything is good except for the fact that I missed making email a required field in the customer section. Sorry, one more change to make email required in the customer section.

[2015-01-08 15:13] tbstevens commented on #121
@OlegForce - Re-tested. Clicking on manage docs properly validates all required fields, but after entering all necessary data, pressing manage docs button again results in error. Unable to finish testing.

Results in error on screen stating "Payment Calculator is temporarily unavailable".

The error message from Eclipse is attached. I was able to recreate this 3 times out of 3.

[2015-01-08 15:21] tbstevens commented on #120
@olegForce - retested. Similar error that occured with Manage Documents button. I emailed the error.

[2015-01-08 15:24] tbstevens commented on #101
@olegforce - Re-tested. Equipment price doesn't show as formatted when you tab out or at calculation or at entry. The formatting doesn't show up until after you continue into the credit app.

[2015-01-08 16:46] psakia commented on #118
@tbstevens - The log image is jpg format. Can we change the logo format to png format ? Liferay has some issues with jpg which I'm not sure have been resolved.

[2015-01-08 16:51] tbstevens commented on #118
@Creekridge - are you able to use .png files for the logos?

[2015-01-08 16:54] tbstevens commented on #124
Fixed.

[2015-01-08 16:54] #124 closed

[2015-01-08 17:06] Creekridge commented on #118
@tbstevens Megan emailed this to you.

[2015-01-08 17:06] Creekridge commented on #118
@tbstevens most of our vendor logs are in JPG, so this would still be an issue on their site. We typically have a tough time getting any other versions of logos from our vendors.

[2015-01-08 17:20] tbstevens commented on #118
@psakia - Loaded png logos to the site. Same issue. cleared cache to make sure it wasn't the same jpg image. As creekridge stated above, most of the logos will be jpeg. Any available fix for jpegs?

[2015-01-08 17:34] #106 closed

[2015-01-08 17:38] #94 closed

[2015-01-08 17:39] tbstevens commented on #94
Closed based on related issue being logged as a bug.

[2015-01-08 17:39] tbstevens commented on #105
Closed -- added as topic for meeting on 1/8

[2015-01-08 17:39] #105 closed

[2015-01-08 17:40] tbstevens commented on #108
Closed -- topic for meeting on 1/8

[2015-01-08 17:40] #108 closed

[2015-01-08 17:47] divinami commented on #109
@tbstevens That comma is for "[CustomerCity] [CustomerState], [CustomerZip]".

[2015-01-08 21:39] OlegForce commented on #102
ooops. should work now

[2015-01-08 21:39] #102 closed

[2015-01-08 21:41] OlegForce commented on #120
fixed?

[2015-01-08 21:43] OlegForce commented on #121
added

[2015-01-08 21:43] #121 closed

[2015-01-08 21:44] OlegForce commented on #116
did you mean in principal section for this one?
@tbstevens

[2015-01-08 21:53] OlegForce commented on #101
how about now?

[2015-01-08 21:53] #101 closed

[2015-01-09 15:26] tbstevens commented on #112
Not needed based on the fact that users won't be seeing this value once status filters are working.

[2015-01-09 15:26] #112 closed

[2015-01-09 15:28] tbstevens commented on #100
Closing out this issue in replacement of a new issue the describes what the desired feature is (To redirect vendor site users to their site if they hit the main portal page)

[2015-01-09 15:28] #100 closed

[2015-01-09 15:30] tbstevens opened #125 "Redirect vendor users to their main site page when hitting main portal page"
Issue
-----------
When a vendor user is logged in, leaves the site but is still logged in, and goes back to the primary portal url (where they'd usually log in), they are presented with a portlet informing them they are logged in with no additional options.

Expected
-------------
Similar to the login redirect, all vendor users (Site Admin, Sales Rep, Sales manager) should be redirected to their p

[2015-01-09 15:36] OlegForce commented on #116
I guess not.

[2015-01-09 15:53] tbstevens commented on #91
Closing issue. Created one issue as a catch all for all view application improvements needed.
#117

[2015-01-09 16:39] tbstevens opened #126 "PDF should be viewable in browser."
Issue
-----------
PDF files are downloaded when clicked on and it required the user to have a pdf viewer.

Expected
------------
PDF files generated in the manage docs screen should be viewable from the browser instead of downloaded.

[2015-01-09 16:41] tbstevens opened #127 "SSL"
Question:
--------------
Are any additional steps required for Liferay to work appropriately with SSL? If so, please provide the steps that are necessary.

[2015-01-09 16:55] Creekridge commented on #126
PDF from site above renders correctly when opened in Safari on iPad.

[2015-01-09 17:02] tbstevens opened #128 "Multiple emails in sales rep field"
Issue
------------
The Sales Rep custom field on the site is used to configure who should receive an email when an application is submitted. The PaymentCalculator.java method: submitApplication has code to email the Sales Rep but it does not allow for multiple email addresses.

Expected
------------
Allow administrators to configure multiple email addresses in the Sales Rep field using a semicolon

[2015-01-09 18:11] tbstevens opened #129 "Display message to call if pricing option has a rate factor set to 0"
Feature Gap
------------
There was originally a rule included in the design document that called for a message to be displayed to the user if the pricing option selected had a rate factor set to 0. This is Creekridge's method of flagging the record as a pricing option that requires the user to call and cannot complete the process online.

Expected
---------------
When displaying the "Pricing Overv

[2015-01-09 19:18] tbstevens opened #130 "Submitting application now redirects user to manage docs page"
Issue:
-----------------
Application submission results in app getting redirected to manage docs screen and no email is triggered.

Expected
-------------
Application submission should result in user being directed to the application view only screen with a message informing them the application was submitted and emails should be sent to the repemail.

[2015-01-09 19:37] tbstevens opened #131 "Move "Back to Credit App" and "Back to View Applications" to left side of screen under page title"
Issue
-------------
Back to Credit App and Back to View Applications buttons appear on the right side of the page.

Expected
-------------
They should appear on the left side under the page title. This aligns with button placement on other pages.

[2015-01-09 20:22] tbstevens opened #132 "Ability to display/hide bank references and principal section per vendor"
Enhancement Request:
--------------------------------
Creekridge would like the ability to display or hide the Bank Reference section and Principal section based on configuration for each site.

Solution:
-------------
1. New custom field on site with key name of "Include Bank References" with type of "True/False"
2. New custome field on site with key name of "Include Principals" with type of "Tru

[2015-01-09 20:23] tbstevens opened #133 "Doc gen taking a long time to generate docs"
Issue
----------
Sometimes it can take over 15 seconds for a credit app or proposal letter document to generate. User doesn't know if they are waiting or if it didn't work.

Expected
---------------
Improve the performance/speed of generating the documents if possible.

[2015-01-09 20:59] tbstevens opened #134 "Principal Info showing at top of the page in View-Only credit app"
Issue
-----------
Principal section showing up at the top of the page for credit app in view-only mode.

Expected
-------------
Should show up in correct place.

![image](https://cloud.githubusercontent.com/assets/9217302/5687223/08c7e6d8-9810-11e4-8ce6-d2a50919f1b7.png)

[2015-01-09 21:19] tbstevens commented on #119
@creekridge - Hi Sandy and Megan -- I'm not sure if you wanted to move forward on this one. We can have this expand to a larger textarea if you'd like. The estimate to customize this liferay screen is 2 hours. If not, I'll just close this one out.

[2015-01-09 21:20] Creekridge commented on #119
Close it out

Sandy Graves
IT Manager
O: 952.826.7884
F: 952.996.0270
Sgraves@creekridgecapital.com<mailto:Sgraves@creekridgecapital.com>
www.creekridgecapital.com<http://www.creekridgecapital.com/>

[CreekridgeCapital_Standard_Color.jpg]

This email message is for the sole use of the intended recipients and may contain privileged and confidential information. Any unauthorized review, use, disclos

[2015-01-09 21:22] tbstevens commented on #115
@creekridge - This one wasn't on the original list. It would take 30-60 min to mask the SSN on the principal. Also, would you want to mask the Federal Tax ID on the Customer section as well? If so, we'll just have to get the mask you'll want for that. The mask on SSN for principal will be xxx-xx-9999.

[2015-01-09 21:24] tbstevens commented on #114
@creekridge - I believe this is still an open item. One of the downsides to saving on tab or on click of new section was related to going through validation before the save. Our recommendation would be to require save and it will now be saving on click of "Manage Documents" (once we deploy again). Let me know.

[2015-01-09 21:33] tbstevens commented on #126
@Creekridge - Thanks Sandy. It appears the difference is that the pdf is opening in your browser in Safari. The manage docs is downloading a pdf and your tablet needs a pdf viewer. We will modify this to open as a pdf in the browser so the user doesn't need to have a pdf viewer downloaded on the tablet, smartphone or desktop.

[2015-01-09 21:39] tbstevens opened #135 "User doesn't know they are waiting for doc to generate"
Issue
-----------
User isn't presented with anything that would inform them they are waiting for a document to generate on the manage docs screen.

Expected
------------
Display a spinner or hourglass as the user is waiting for the doc to generate.

[2015-01-09 22:03] #130 closed

[2015-01-10 02:32] OlegForce commented on #134
should work now. probably need to redo these two tables to be consistent with view app table.

[2015-01-10 02:34] OlegForce commented on #117
give it a shot. I know it displays Drafts as well... noticed it later after committed. Not sure why we don't want to show those... Makes sense to be able to see them. No?

[2015-01-10 14:19] #119 closed

[2015-01-12 16:06] Creekridge opened #136 "Payment Calculator Not Showing"
I generated a proposal and sent a test email. The email went though. However, when I sent back to the payment calculator, I got a red error that said "Payment Calculator is temporarily unavailable."  Even two minutes later, after refreshing the page and visiting other pages in-between, the payment calculator is still not working.

[2015-01-12 16:10] Creekridge commented on #136
Tested again:  Payment calculator does not work after an email has been sent (proposal or credit app).

[2015-01-12 20:24] Creekridge commented on #103
@tbstevens looks good. Thanks for fixing this issue!

[2015-01-13 01:54] psakia commented on #128
Please see the two attachments.

On Fri, Jan 9, 2015 at 3:10 PM, tbstevens <notifications@github.com> wrote:

[2015-01-13 01:54] psakia commented on #128
@tbstevens
Tom, please see the two attached files PaymentCalculator.java and ManageDocument.java. I have seen bunch of conflicts, trying to play safe, so I would rather send as attachments via email.
Thanks

[2015-01-13 02:02] psakia commented on #131
Tom,
Please see the attached view.jsp
thanks,
Pius

On Fri, Jan 9, 2015 at 1:37 PM, tbstevens <notifications@github.com> wrote:

[2015-01-13 02:03] psakia commented on #131
@tbstevens  Please see the attachment of view.jsp. I saw some conflicts, just to be safe.
Thanks

[2015-01-13 02:12] psakia commented on #127
@tbstevens The followings are instructions on how to setup SSL in Liferay Portal;

1. Configure Tomcat container in server.xml
 Enable this connector in server.xml
    <Connector port="8443" protocol="HTTP/1.1" SSLEnabled="true"
               maxThreads="150" scheme="https" secure="true"
               clientAuth="false" sslProtocol="TLS" />

2.Liferay portal-ext.properties
Add/update file "LIFER

[2015-01-13 02:59] psakia commented on #125
@tbstevens . I have added a jsp hook to login portlet. I tried to check in but I got message I'm not authorized to commit. I have sent attachment of the hook project.
Thanks

[2015-01-13 03:00] psakia commented on #125
Hi Tom
Please see the hook attachment.
Thanks,
Pius

On Fri, Jan 9, 2015 at 9:30 AM, tbstevens <notifications@github.com> wrote:

[2015-01-13 06:02] tbstevens commented on #136
@olegforce - Oleg, could this have something to do with session variables? If so, I can assign back to Pius.

[2015-01-13 06:04] tbstevens commented on #134
@Creekridge - Ready for retesting in prod. Issue can be closed if it is no longer an issue.

[2015-01-13 06:10] tbstevens commented on #132
@OlegForce - Let me know if you have any questions on this one.

[2015-01-13 06:16] tbstevens commented on #117
@Creekridge - The look of this page was improved, feel free to take a look at it. Please confirm if you would like "Draft" removed from the dropdown. I was going to ask for it to be removed but I'll confirm with you first. Also to note -- There is additional work in progress to have the Sales rep dropdown and Sales rep column appear in this version. Should be ready by end of week.

[2015-01-13 06:21] tbstevens commented on #61
Closing this issue - no longer needed.

[2015-01-13 06:21] #61 closed

[2015-01-13 06:24] #103 closed

[2015-01-13 06:24] tbstevens commented on #109
Closing issue - non-defect

[2015-01-13 06:24] #109 closed

[2015-01-13 06:29] tbstevens commented on #123
@Creekridge - I'm not seeing these issues anymore on the prod server but please confirm.

[2015-01-13 06:31] tbstevens opened #137 "View Application Sales Rep filter and column"
Issue:
------------
If a user logs in as an admin, they get the expected functionality in the View Applications page. If from the same browser, you log out and log back in as a Sales Rep, you get the expected functionality. If you log out and log back in as an admin or sales manager, you no longer get the expected functionality. It seems to think the user is a Sales rep.

Expected
---------------

[2015-01-13 14:25] Creekridge commented on #123
Tom,

Same result when you hit the site from http://www.vendorservicesgroup.com as before – no ability to filter:
[cid:image001.png@01D02F0A.6E851BE0]

From inside – crcvip:8080, it does work.

Until it works from the domain address, I don’t consider this fixed.

Sandy Graves
IT Manager
O: 952.826.7884
F: 952.996.0270
Sgraves@creekridgecapital.com<mailto:Sgraves@creekridgecapital.com>
www.creekrid

[2015-01-13 15:44] Creekridge opened #138 "Sales Rep Tester Sees Everyone's Applications"
When I log in as SalesRep Tester, I see everyone's applications. I should only see SalesRep Tester's applications.

Only those at Sales Rep Managers and higher levels should see everyone's applications.

[2015-01-13 15:50] Creekridge commented on #123
@tbstevens filters work, however we have a few requests:
- Please eliminate the "Sales Rep" filter from Vendor Sales Rep's. They will not need this, only their managers.
- Can we have the filters in one horizontal line vs. stacked? All on same line as search bar?
- Eliminate the word "entries"

[2015-01-13 15:54] Creekridge opened #139 "View Applications Page - Buttons Not Working"
When logged in as a SalesRep Tester, the Actions: View, Edit and Docs do not work. The Cancel button does work.

[2015-01-13 15:55] Creekridge opened #140 "Payment Calculator: Customer Business Start Date Box"
I cannot see the arrows to move to different month.

[2015-01-13 16:00] Creekridge commented on #139
@tbstevens I'm guessing this has something to do with how these applications were inputted in when the site was last updated. When I created one from scratch, these buttons worked.

[2015-01-13 16:00] Creekridge opened #141 "Bank Reference Phone Number View Needs to Be Masked"
To show up like all other phone/fax numbers on the Payment Calculator page.

[2015-01-13 16:03] Creekridge commented on #139
@tbstevens Still and issue. Buttons do not work when logged in as sales manager.

[2015-01-13 16:05] Creekridge commented on #139
@tbstevens When logged in as Sales Manager, blue New Application button does not work.

[2015-01-13 16:27] Creekridge opened #142 "Site Locks Ups / View Application screen issues"
I was logged in as a Sales Manager and Sales Rep at the same time. When going in the Sales Manager Site, the Payment Calculator did not work and View Applications did not show after I moved around the site for a while.

[2015-01-13 16:32] Creekridge opened #143 "Principal Section Continue Button"
Please make this button blue "Continue to Bank Reference" so it matches all previous continue button colors.

[2015-01-13 16:33] Creekridge opened #144 "Manage Docs Page - View Does Not Work in FireFox"

[2015-01-13 16:34] Creekridge opened #145 "Payment Calculator Save & Exit"
This buttons should go directly to the "View Applications" page. For some reason, I was seeing an older version of the "View Applications" page when I click this button.

[2015-01-13 16:36] Creekridge commented on #134
@tbstevens looks like it's fixed.

[2015-01-13 16:41] Creekridge commented on #116
@tbstevens looks good.

[2015-01-13 16:41] Creekridge commented on #113
@tbstevens looks good!

[2015-01-13 16:42] Creekridge commented on #110
@tbstevens looks like this is fixed. Thanks!

[2015-01-13 16:43] Creekridge commented on #96
@tbstevens this is good. thanks.

[2015-01-13 16:48] Creekridge opened #146 "Application Preview Not Showing Equipment Price or Description"
Please fix. Thanks!

[2015-01-13 16:52] Creekridge commented on #117
@tbstevens please remove Drafts from dropdown and from what is view from the user on the site. We only want them to see "Saved", "Submitted", "Cancelled", or "All".

[2015-01-13 17:20] tbstevens commented on #117
@Creekridge - Ok, I'm going to close this issue and open a new issue based on the comment above.

[2015-01-13 17:20] #117 closed

[2015-01-13 17:21] tbstevens opened #147 "Remove "Drafts" and add "All" to Status dropdown on View Applications screen"
Issue:
-----------
Status dropdown displays "Draft" and is missing "All" from dropdown.

Expected:
------------
Status filter dropdown should include: "Saved" (Default option), "Submitted", "Cancelled", and "All". Selecting "All" would show apps in Saved, Submitted, and Cancelled status. "Draft" status should never appear in View Applications screen.

[2015-01-13 17:34] #96 closed

[2015-01-13 17:34] #110 closed

[2015-01-13 17:35] #113 closed

[2015-01-13 17:35] #116 closed

[2015-01-13 17:35] #134 closed

[2015-01-13 17:38] tbstevens commented on #145
@Creekridge - I'll try and recreate the issue. It may have been due to a cache issue since I had to change the portlet for the View Applications page. If it was not a cache issue, I'll look into it. If you'd like to check, you could either clear the browsing history on the browser you're using, use a different browser not yet used, or open chrome in incognito mode which would not use any prior cac

[2015-01-13 17:41] tbstevens commented on #142
I am now experiencing the same issue where the View Applications page is not displaying any records. Assigning this one to @olegforce as high priority. It's a blocking issue for testing. It was displaying records last night.

[2015-01-13 17:46] tbstevens commented on #144
@Creekridge - Could you provide more description here? Are you unable to download on the download link? Is this an issue that would be redundant to fix if the enhancement to do one click goes through? Just trying to figure out the details on how to prioritize the issue. Thanks!

[2015-01-13 17:54] tbstevens commented on #138
@Creekridge - Sorry, when I informed you last night regarding the new View Applications page having some additional functionality remaining that needed to be moved to the new version -- this piece was still outstanding. I'm going to leave this open to make sure it can be tracked.

[2015-01-13 17:58] tbstevens commented on #145
@OlegForce - I was able to recreate this same issue. It looks like the problem may be that the payment calculator save & exit button isn't just simply sending the user to the View Applications page URL which has the new portlet, but something different that is still displaying the old View applications portlet.

[2015-01-13 18:27] tbstevens commented on #139
@Creekridge - Could you take another look at this? Let me know if you still see any issues. I removed the data moved from the old vendor site and it seems to have eliminated the issues caused by this.

[2015-01-13 18:29] tbstevens commented on #142
@Creekridge - Could you re-test this and see if you can recreate the issue? I was unable to recreate it after removing the bad data.

[2015-01-13 18:34] tbstevens commented on #120
@divinami - Mike I believe you're working on finishing this one up. Just wanted to be sure this issue remained open until resolved.

[2015-01-13 18:37] tbstevens commented on #98
@divinami - Mike, let me know if you have any questions based on Pius email regarding how to access the logo.

[2015-01-13 23:26] OlegForce commented on #136
try it now

[2015-01-14 00:51] OlegForce commented on #129
@tbstevens could you clarify : we do not have a pricing option table. Purchase Option table does not have RateFactorRule. It's the other way around RateFactorRule has a Purchase Option.

[2015-01-14 02:16] tbstevens commented on #129
Sorry. Intended to say proposal option which would have a rate factor.

[2015-01-14 08:14] divinami commented on #120
Fixed.

[2015-01-14 08:48] divinami commented on #98
Fixed.

[2015-01-14 16:22] tbstevens opened #148 "Able to submit an application without selecting a pricing option"
Issue
----------
User is able to submit an application without having any of the pricing options selected in the "Use for Credit Application" column.

Expected
-------------
A user can save an application without having an application selected in the "Use for Credit Application" column but to submit an application, exactly one application needs to be selected in that column.

*Additional change*:

[2015-01-14 20:11] OlegForce commented on #129
give it a shot.

[2015-01-14 22:16] tbstevens opened #149 "Remote Notifications from Dockbar"
Enhancement Request
-----------------------------
Remove notifications section from blue dockbar for all users.

[2015-01-14 22:17] tbstevens opened #150 "Remove My Sites option from dockbar for Site roles"
Enhancement Request
--------------------------------
For site role users (Site Admin, Sales Manager, Sales Rep), remove the My Sites dropdown from the blue dockbar. Users will be redirected to their site and it is unnecessary.

[2015-01-14 22:19] tbstevens opened #151 "Remove Public site link from My Sites dropdown for Creekridge users"
For users with access to multiple sites (Admins, Creekridge Managers), remove the public site links from the My Site dropdown. Only display the private site links.

[2015-01-14 22:24] tbstevens opened #152 "Remove My Profile and My Dashboard from User dropdown in dockbar"
Enhancement Request:
---------------------------------
Remove the My Profile option and My Dashboard option from the user dropdown in the blue dockbar for all users. The My Account and Sign Out options should still be present.

[2015-01-14 22:28] tbstevens commented on #93
Replaced by more specific issues.

[2015-01-14 22:28] #93 closed

[2015-01-14 22:28] tbstevens commented on #77
Replaced by more specific issues

[2015-01-14 22:28] #77 closed

[2015-01-14 22:30] tbstevens commented on #144
@psakia - Pius, could you make sure the Manage Docs screen is displayed the same way in Firefox as it is in Chrome and IE?

[2015-01-15 04:25] divinami commented on #133
@tbstevens Can you check if you see any of these messages in the logs:

04:10:23,814 INFO  [http-bio-8080-exec-5][SocketOpenOfficeConnection:125] trying to (re)connect
04:10:23,924 INFO  [http-bio-8080-exec-5][SocketOpenOfficeConnection:125] connected

This is the only time I noticed it taking a while longer to generate.  Otherwise, the credit app and proposal documents were generating in a couple

[2015-01-15 16:44] Creekridge commented on #147
@tbstevens looks good.

[2015-01-15 16:45] Creekridge commented on #146
@tbstevens looks good.

[2015-01-15 16:49] Creekridge commented on #145
@tbstevens looks like this issue is fixed. Thanks.

[2015-01-15 16:55] Creekridge commented on #142
@tbstevens haven't had any issues with this as I've been testing this AM. Will let you know if they should pop up again...

[2015-01-15 16:59] Creekridge commented on #143
@tbstevens principal and bank section on the site are not showing up, even with the option is "True" in the site's configuration set up via Liferay.

[2015-01-15 17:00] Creekridge commented on #140
@tbstevens can see arrows now. Thanks for fixing.

[2015-01-15 17:01] Creekridge commented on #139
@tbstevens buttons working now. Thanks!

[2015-01-15 17:03] Creekridge commented on #138
@tbstevens sales rep tester still seeing all applications from everyone.

[2015-01-15 17:06] Creekridge commented on #139
@tbstevens we take that back. After loggin in and out between Manager and Rep testers, these buttons no longer work again...

[2015-01-15 17:10] Creekridge commented on #136
@tbstevens not getting error anymore.

[2015-01-15 17:11] Creekridge commented on #132
@tbstevens looks like these sections, even marked "true" to show on liferay aren't showing on site for Vendor 1.

[2015-01-15 18:10] tbstevens commented on #132
@Creekridge - Could you try this again? I just went out to vendorservicegroup.com and was able to flip them back and forth and it was working as expected with vendor1 with no changes made.

[2015-01-15 18:11] #136 closed

[2015-01-15 18:14] #140 closed

[2015-01-15 18:15] tbstevens commented on #143
Closing this particular issue -- separate issue for the show/hide.

[2015-01-15 18:15] #143 closed

[2015-01-15 18:15] #145 closed

[2015-01-15 18:16] #146 closed

[2015-01-15 18:16] #147 closed

[2015-01-15 18:19] tbstevens commented on #123
To keep it clean, I'll close this one out and recreate a new issue specific to the defect and cosmetic requests above.

[2015-01-15 18:19] #123 closed

[2015-01-15 18:26] tbstevens opened #153 "Sales Rep filter should not appear for Sales Reps"
Issue:
-----------
When logged in as a sales rep, sales rep is able to view the Sales Rep filter dropdown.

Expected
--------------
Sales rep should only have a status dropdown.
Sales rep should only be able to see applications they created and should not have the ability to view others.

Recreate:
-------------
1. Go to www.vendorservicesgroup.com
2. Login as salesreptester@test.com
3. Go to view

[2015-01-15 18:28] tbstevens opened #154 "Move Sales Rep filter to the right of Status filter when displayed"
Request
--------------
Creekridge would like the Sales Rep dropdown to appear on the same line as the Status dropdown -- lined up to the right of the status dropdown vs. having them appear on two lines.

[2015-01-15 18:35] tbstevens opened #155 "Replace "Entries" with "Applications" on the dropdown to change the number of records displayed"
Request
------------
In the view applications screen, the user has the option to select a specific number of records to display per page. After the dropdown, there is static text displayed as "entries". Update the text to display "Applications".

[2015-01-15 20:24] tbstevens commented on #139
@OlegForce - Getting a 302 Not Found if I'm logged in as a Sales Rep or Sales Manager when clicking on the buttons in the View Application screen.

payment-calculator?creditAppId=1301/group          302 Not Found

When I'm logged in as an admin, it works fine.

payment-calculator?creditAppId=1301/group/vendor1          200

[2015-01-15 20:28] tbstevens commented on #95
Closed. Confirmed working in prod.

[2015-01-15 20:28] #95 closed

[2015-01-15 20:59] tbstevens commented on #148
Tested in prod.

[2015-01-15 20:59] #148 closed

[2015-01-15 21:10] tbstevens commented on #115
@Creekridge - tested in prod and working. I'll let you confirm.

[2015-01-15 21:16] tbstevens commented on #153
@OlegForce - Sorry, after the latest updates it looks like the Sales Rep filter is now not appearing for any users in prod. I tested this from several different browsers with no sessions or cache.

[2015-01-16 03:56] OlegForce commented on #139
per our conversation earlier, this should be working now.

[2015-01-16 03:56] OlegForce commented on #153
this should be working now.

[2015-01-16 15:27] #142 closed

[2015-01-16 16:38] tbstevens commented on #155
Tested in prod.

[2015-01-16 16:38] #155 closed

[2015-01-16 16:38] tbstevens commented on #154
Tested in prod.

[2015-01-16 16:38] #154 closed

[2015-01-16 16:39] tbstevens commented on #153
Tested in prod.

[2015-01-16 16:39] #153 closed

[2015-01-16 16:41] tbstevens commented on #139
@Creekridge - This should no longer be an issue. The issue was specific to vendor users because it was due to the redirect from login. The URL was missing a "/" at the end of the URL which broke the navigation on all the buttons for Sales Manager and Sales Reps. It was working for admins because they didn't get redirected. I confirmed it was working in prod but I'll make sure to let you confirm.

[2015-01-16 17:10] kdolan12 opened #156 "Add functionality to support multiple templates"
1) We will allow any number of templates to be created; not just proposal and quote letters.
2) We will update the logic so that the fields specified as tags on the document reflect the database column names.  (In Properties file for max flexibility)
3) We will add two fields to the Custom Fields screen under Site settings that will allow you to configure the list of document templates for a given

[2015-01-16 17:26] Creekridge commented on #139
Buttons are now working when logged on as SalesManager and SalesRepTester.  However, when I log in as me (Sandy/admin).  I'm not seeing any existing apps or buttons.  I should be able to see them all.

[2015-01-16 17:31] Creekridge commented on #141
Trying to test - but Bank Reference isn't an option when I log in as SalesManager.

[2015-01-16 17:36] tbstevens commented on #129
@Creekridge - This has been implemented. I have a test row in the prod server to test that the message appears. If you select "Financed Lease", "FMV", "48 months" it will product a row in the results that displays the message to call based on the custom fields.

FYI - The typical scenario for this based on your feedback is that it exceeds a specific dollar amount. When originally testing this, I c

[2015-01-16 17:37] Creekridge commented on #138
Note - admin (sandy) - doesn't see any - should see all

[2015-01-16 17:52] Creekridge commented on #132
Still not working correctly.  I set Include Bank to False and Include Principals to True, reclogged in as SalesManager and both sections showed up.  Tried switching both to False - both still showed up. Set both to false - both still showed up.

[2015-01-16 17:53] Creekridge commented on #141
Testing Bank reference hide and was able to confirm masking okay.

[2015-01-16 17:55] Creekridge commented on #115
Confirm -SSN is being masked as described above.

[2015-01-16 17:56] Creekridge commented on #98
Tom - since we're revamping this- I'm assuming it's not ready to test - correct?

[2015-01-16 18:06] tbstevens opened #157 "Price is not being used correctly with Rate Factor Rules table"
Issue
-------------
1. Products are appearing in the Payment Calculator before entering a price.
2. Pricing Overview section is displaying results where the rate factor isn't properly being retrieved from the RateFactorRule table.
3. There are empty records being populated in the ProposalOption table when pressing Payment Calculator button.

Details to be added after researching fix.

[2015-01-16 18:07] tbstevens commented on #152
Tested in prod. @Creekridge - assigned to you to confirm.

[2015-01-16 18:09] tbstevens commented on #150
Tested in prod. @Creekridge - Assigned to you to confirm.

[2015-01-16 18:10] tbstevens commented on #149
Tested in prod. @Creekridge assigned to you to confirm.

[2015-01-16 18:11] tbstevens commented on #144
Closing issue -- will be tied to request when modifications are needed as part of changes to doc generation.

[2015-01-16 18:11] #144 closed

[2015-01-16 18:14] tbstevens commented on #135
Closing issue -- will be part of request when making changes to manage docs page.

[2015-01-16 18:14] #135 closed

[2015-01-16 18:15] tbstevens commented on #133
Closing - will be part of request with other manage docs changes.

[2015-01-16 18:15] #133 closed

[2015-01-16 18:16] tbstevens commented on #131
Closing issue -- will be related to request when making other changes to manage docs page.

[2015-01-16 18:16] #131 closed

[2015-01-16 18:52] tbstevens commented on #128
@Creekridge - You can now set the Rep Email custom field to be a comma delimited list of email addresses. Each email address in the comma delimited list will be emailed when an application is submitted within that vendor. Tested in prod and working. I'll let you confirm. I currently have Vendor2 setup under my two email addresses and you can modify that if you'd like.

[2015-01-16 18:54] tbstevens commented on #127
@Creekridge - We can walk through the instructions above if needed when you are ready to move to https

[2015-01-16 18:56] tbstevens commented on #125
@psakia - This is not working. When a user is logged in and closes Liferay but still has their browser open and goes back to the main portal page already logged in, it is now hitting an infinite loop where the page keeps loading but nothing is happening.

[2015-01-16 18:57] tbstevens commented on #114
Closing issue.

[2015-01-16 18:57] #114 closed

[2015-01-16 18:58] tbstevens commented on #98
Closing issue -- replaced by request to update how doc generation currently works today.

[2015-01-16 18:58] #98 closed

[2015-01-16 19:22] Creekridge commented on #129
With the min dollar of $0 - I would agree that it works - but this isn't a valid scenario - I wouldn't set it up in the database if it wasn't a valid option.  I  did update my database to have a minprice of $0 rule with a factor and a second rule with a minprice of $10000 and the 0 ratefactor - this did not work.  It returned a payment.

[2015-01-16 19:25] Creekridge commented on #120
We haven't been shown any part of this functionality - not sure where to look for xml file - cannot test.

[2015-01-16 19:26] Creekridge commented on #152
Confirmed.

[2015-01-16 19:37] Creekridge commented on #151
Confirmed.

[2015-01-16 19:38] Creekridge commented on #150
Confirm SItes on Dockbar no longer visible.  However it appears that all users are being redirected to the Creekridge generic login and not the site specific one.

[2015-01-16 19:39] Creekridge commented on #149
Confirmed.

[2015-01-16 19:49] Creekridge opened #158 "Cannot Calculate new payment options if the Application is saved and required fields aren't populated"
Issue:
--------------
User clicks to edit an existing application. Modifies information in the payment calculator section and pressing payment calculator button results in validation errors based on Save Validation.

Expected
----------------
The payment calculator button should not require all required fields be entered to simply modify the payment calculation and pricing options.

[2015-01-16 19:58] tbstevens commented on #158
Original comment from Creekridge:
I've been testing and when I Edit a Saved Application that doesn't have all the Required fields populated, it doesn't let me recalculate the options. Instead it gives an error about all the required fields. Is there any way to have the "calculate payments" button just check the Payment Calculator fields and not the entire application when you click on Calculate pa

[2015-01-16 19:58] Creekridge opened #159 "Calculate Payments are not giving expected Payment amounts"
Tested 48 month FMV Financed Lease at 8000 and 15000.  Have Ratefactor rule of .025 for minprice $0 and .07 for minprice $10000.
Payment Calculator results:
8000 = $170.15
15,000 = $319.80
However, if I take the cost times the factor I get:
8000 * .025 = $200
15000 * .07 = $1050

Pretty significant difference here - are you doing a different type of calculation - is the factor actually a yield?  P

[2015-01-16 20:02] tbstevens commented on #159
The current calculation is (Equipment Price / Term in Months) * (1 + Rate Factor) as the Monthly Payment. Please let me know if this incorrect. If not incorrect, I'll close this issue as it is related to Issue #157 which is causing this to pull the wrong rateFactor as it is not using MinPrice correctly.

[2015-01-16 20:04] tbstevens commented on #159
FYI - Very quick change to modify this calculation if we need to.

[2015-01-16 20:08] Creekridge commented on #159
This is incorrect.  It should be Cost * factor.  I already incorporate the Term when I calculate the factor and I’m not sure why you’re adding 1 to it.

Sandy Graves
IT Manager
O: 952.826.7884
F: 952.996.0270
Sgraves@creekridgecapital.com<mailto:Sgraves@creekridgecapital.com>
www.creekridgecapital.com<http://www.creekridgecapital.com/>

[CreekridgeCapital_Standard_Color.jpg]

This email message is

[2015-01-16 20:14] tbstevens commented on #132
@Creekridge - Ok - we have a much bigger issue taking place here with logging in and out from the browser as different user accounts which seems to be impacting the functionality of the page. I've tested the Hide/Display custom field settings 3 times now on vendorservicesgroup.com and it is working every time. Flipping it back and forth both ways. Then I login as a sales manager role, it displays

[2015-01-16 21:15] tbstevens commented on #159
got it. Thanks.

[2015-01-16 21:15] #159 closed

[2015-01-16 21:15] tbstevens commented on #159
Opening new issue related to this.

[2015-01-16 21:17] tbstevens opened #160 "Update calculation for monthly payment amount"
Requirement Correction
--------------------------------
The calculation to determine the monthly payment amount needs to be updated to the following:

Equipment Price entered * RateFactor.

The RateFactor configured for the matching record (matching productId, purchaseOptionId, termId, vendorId, and minPrice) already incorporates the term into the rate factor and does not need to be included in th

[2015-01-16 21:18] tbstevens commented on #160
Previous requirement incorrectly assumed the configured number would be applied similar to an interest rate or apr.

[2015-01-16 23:01] tbstevens commented on #157
@OlegForce  - Email sent with additional details.

[2015-01-18 01:32] divinami commented on #156
@kdolan12 @tbstevens All of the changes are done except for Item #5 which I'm reassigning to @OlegForce to implement.  Both links just generate all of the documents for now.  Please test it out and let me know if anything needs to be changed.  Some notes on the implementation:

[2015-01-18 01:38] divinami commented on #156
@OlegForce Assigning this to you to work on Item #5.  Will just need a list of HTML document templates that are checked off to generate and send the list to ManageDocumentUtil.generateDocument().  It can just be a semicolon delimited string.  Let me know if you have any questions.  Thanks.

[2015-01-18 17:13] kdolan12 commented on #156
@OlegForce let me know if you want to discuss.  I can walk you through functionally what we're trying to accomplish here.

[2015-01-19 14:25] OlegForce commented on #158
I removed validation on calculate payment and move to customer info, but be aware that continue button saves application and that could be a way for users to skip validation rules.

[2015-01-19 14:36] Creekridge commented on #158
Tom – please call to discuss options – I need to understand the repercussions of “skipping validation rules”

Sandy Graves
IT Manager
O: 952.826.7884
F: 952.996.0270
Sgraves@creekridgecapital.com<mailto:Sgraves@creekridgecapital.com>
www.creekridgecapital.com<http://www.creekridgecapital.com/>

[CreekridgeCapital_Standard_Color.jpg]

This email message is for the sole use of the intended recipient

[2015-01-19 17:44] tbstevens commented on #160
@Creekridge - Payment amount now reflects EquipmentPrice * rateFactor

[2015-01-19 17:55] tbstevens commented on #158
@Creekridge - Ready to be retested. I can give you a call regarding the comment above. However, the comment is merely pointing out that when a user goes into the payment calculator section and modifies something, it won't validate, as requested. When they press Continue, it saves the application without validation per the existing functionality. However, if a user ever presses save or submit, it w

[2015-01-19 17:56] tbstevens commented on #137
@Creekridge - This issue is now resolved in prod. The View Application screen show now work as expected for each role.

[2015-01-19 17:57] tbstevens commented on #132
@Creekridge - retested and working after fix.

[2015-01-19 17:57] Creekridge commented on #158
Tom,

Please call – I had expected you to call and walk through the options on this request rather than proceeding with any changes when I logged it.

Sandy Graves
IT Manager
O: 952.826.7884
F: 952.996.0270
Sgraves@creekridgecapital.com<mailto:Sgraves@creekridgecapital.com>
www.creekridgecapital.com<http://www.creekridgecapital.com/>

[CreekridgeCapital_Standard_Color.jpg]

This email message is f

[2015-01-19 17:59] tbstevens commented on #138
@Creekridge - retested and working after fix was made. The issue fixed was causing a problem across multiple issues and it is now resolved.

[2015-01-19 18:05] tbstevens commented on #120
@Creekridge - The XML files will be exported to the CRCVIP server at the following location:
C:\portal\liferay-portal-6.2-ce-ga2\creditApps

Each file in the folder is an xml file titled "creditApp_[Customer Name]_[MMDDYYYY]_[HHMM].xml

[2015-01-19 22:08] Creekridge commented on #128
Not working - I updated Vendor1 a few days ago with my addresses and when I just submitted an app, no e-mails were received.  I did receive notices at 11:35 from Vendor1 this morning from Tom.

[2015-01-19 22:11] Creekridge commented on #120
The file generated, but there isn't any data in the file.

[2015-01-19 22:17] Creekridge commented on #129
Still working as indicated in last statement.

[2015-01-19 22:19] tbstevens commented on #120
@Creekridge - I'm seeing a file in the folder path titled "creditApp_Test_01192015_1600" and there is data in the file.

[2015-01-19 22:22] Creekridge commented on #120
Okay – there is data, but it’s not a valid xml format.  Valid xml format would be <CreditAppID>10157</CreditAppID> for each field.

From: tbstevens [mailto:notifications@github.com]
Sent: Monday, January 19, 2015 4:19 PM
To: TamarackConsulting/Creekridge_Portal
Cc: Sandy Graves
Subject: Re: [Creekridge_Portal] XML Export file not generating on submission (#120)

@Creekridge<https://github.com/Cree

[2015-01-19 22:24] Creekridge commented on #132
Only worked when logged in as admin.  Logged off, closed Internet Explorer, relogged in as salesreptester, and could still see Bank.

[2015-01-19 22:27] Creekridge commented on #137
Not working - logged in as Salesreptester and can see all applications.

[2015-01-19 22:28] Creekridge commented on #138
Still not working.

[2015-01-19 22:30] Creekridge commented on #139
Now able to see all apps when logged in as admin.  All buttons work.

[2015-01-19 22:37] Creekridge commented on #158
Calculate and Continue to Customer Info working as expected.  Continue to Principal no longer validating.  Per conversation with Tom - it should be.

[2015-01-19 22:39] Creekridge commented on #160
Calculation is now correct, but still not recognizing when there is a second tier - ex: Minprice 0 = .05, minprice 10,000 = .03 - both values/calculations give result with .05 calculation.

[2015-01-19 22:43] #151 closed

[2015-01-19 22:43] #152 closed

[2015-01-19 22:44] #160 closed

[2015-01-19 22:47] tbstevens commented on #158
@Creekridge - Hi Sandy, I think there may have been a miscommunication. In our conversation, I stated that the Calculate Payments button will no longer validate as requested. I also informed you that the Continue to Customer & Equipment button will save the application but will not validate per existing functionality so the user is not stopped as they begin the process. The buttons that validate a

[2015-01-19 22:48] tbstevens commented on #160
Closed this issue. There is a separate issue logged regarding the minprice issue. This issue was related to the ratefactor calc.

[2015-01-19 22:53] tbstevens commented on #150
@Creekridge - Do we want to add the logout customization as an additional enhancement? The logout function is native in Liferay and would require a similar "hook" that was used for the redirect at login. The logout as it exists right now, as you mentioned, takes the user back to the main portal login. Logging in would once again redirect them to their site. Same estimate as the login hook of 3 hou

[2015-01-19 22:53] #149 closed

[2015-01-19 22:54] #141 closed

[2015-01-19 22:54] #139 closed

[2015-01-19 22:55] #115 closed

[2015-01-19 22:55] tbstevens commented on #157
Awaiting updates to Manage Docs UI before loading to prod server

[2015-01-19 23:02] Creekridge commented on #150
Please call to clarify.  What "hook for login" are you talking about.  The login isn't working correctly either.  It only takes me to the generic login.  When we discussed this, we said that we needed to be able to give out the site specific login OR the generic one.  Generic one defeats the purposes of private labeling.

[2015-01-19 23:05] Creekridge commented on #158
Tom - there is no "Continue to Customer and Equipment" button on our live site - only :"Continue to Customer".  You indicated that only the "Calculate Payment" and "Continue to Customer" buttons were effected by this change.  I asked if any of the other Continue buttons would be affected - if they would still validate and you said "yes".    I honestly don't recall if "Continue to Principal" was va

[2015-01-19 23:12] Creekridge commented on #150
Please call to clarify. What "hook for login" are you talking about?  Are you talking about the redirect from the login screen to the View Applications?

[2015-01-19 23:15] Creekridge opened #161 "Site Specific Login not showing login fields"
When I go to a Site specific login screen (ex: www.vendorservicesgroup.com/group/vendor1), the username and password fields are not available.

[2015-01-19 23:30] kdolan12 commented on #120
@Creekridge Sandy - This is valid XML.  The reason why the XML is formatted in this fashion is that Java has some native XML outputs that it can perform with not much programmatic effort.  Since your end goal was to apply a style sheet to the XML anyways, we did not think there is much ROI in trying to make this formatted in a pretty way.

I have created a sample XSL that will convert the Java gen

[2015-01-20 15:21] tbstevens commented on #158
@Creekridge - Hi Sandy. It's actually simpler than that. The only thing impacted by this particular change was the Calculate Payment button. The change was that the Calculate Payment button no longer validates the application when you click on it.

Everything outside of that particular change was just discussion around the existing functionality of the form and a a better understanding of when the

[2015-01-20 15:39] tbstevens commented on #138
@OlegForce - Still an issue in prod. I'm unable to recreate this same issue in my environment. Was working in prod yesterday morning. No longer working. Nothing was deployed.

Reproduce
---------------
1. Login as salesreptester@test.com at vendorservicesgroup.com
2. Go to view applications. User is able to see all applications and sales filter.

If this cannot be reproduced, first login as an adm

[2015-01-20 15:40] tbstevens commented on #137
Closing as this is the same issue as #138

[2015-01-20 15:40] #137 closed

[2015-01-20 15:44] tbstevens commented on #132
@OlegForce - The hide/display Bank References and Principal feature appears to only be hiding and displaying these sections correctly for admins. When logged in under different roles, the sections are not hiding or displaying based on the configuration of the site.

[2015-01-20 15:47] tbstevens commented on #129
The issue causing this problem is related to #157. #157 has been fixed and tested in local environment. Awaiting additional changes before deploying to prod (awaiting 2nd half of doc gen changes before deploying so that doc gen doesn't break if deployed) and re-testing in prod. I'll keep this issue open and tied to #157 so both can be closed once it passes testing on prod.

[2015-01-20 15:50] tbstevens commented on #128
@OlegForce - Could you look into why this is working if the application is submitted by an admin user but when submitted by a sales rep the comma delimited email is not working? The expectation is that the "Rep Email" custom field on the site can contain commas or semicolons between email addresses in one field. Each email address would receive an email. This works if the person submitting the app

[2015-01-21 02:41] OlegForce commented on #138
@Creekridge  error has something to do with chrome... do you see filters in browser when the issue occurs? Have you tried other browsers?

[2015-01-21 02:43] OlegForce commented on #132
@psakia for some reason when logged in as a regular use, expandobridge is showing properties, but values are coming in as null... when logged in as admin user, everything is fine. What am I missing?

Admin :

expando:  {Rep Name=Oleg, Include Bank References=false, Rep Phone=703-889-0022, Vendor State=MN, Vendor Zip=42421, Include Principals=true, Vendor Phone=2131312312, Vendor Address=123 Street

[2015-01-21 02:44] OlegForce commented on #128
see #132 ... there is something crazy with custom fields permissions...

[2015-01-21 03:07] psakia commented on #132
Hi Oleg,
I will take a look and let you.
Thanks,
Pius

Sent from my iPhone

[2015-01-21 06:20] tbstevens commented on #161
@creekridge - The step of setting up the one public page with the Vendor Login template was missed. It has since been added.

Just for future reference, after creating a new vendor site by using the "Vendor Site" Template for the private pages in the site, I created a one page template titled "Login" that can be added to all vendor sites as the one public page. I'll include this in a document.

[2015-01-21 06:22] #158 closed

[2015-01-21 06:50] tbstevens commented on #150
@Creekridge - I'll reach out tomorrow (1/21) in the late morning if that works for you. Around 10am?

[2015-01-21 07:10] tbstevens commented on #99
@Creekridge - Deployed to prod. Tested feature by adding some sample files to marketing materials folder in prod. Confirmed that clicking on link now opens directly to document. Also added sample file to reports folder and confirmed it is working from there as well.

[2015-01-21 07:21] tbstevens commented on #126
@Creekridge - PDF files now open in the browser vs downloading. Ready for testing.

[2015-01-21 07:23] tbstevens commented on #125
@Creekridge - previous issue was resolved. This is now deployed in prod. I tested this under salereptester on vendor1 by being logged in. closing my tab in the browser, opening a new tab to vendorservicesgroup.com and was redirected to the site. Also tested to redirect if I enter vendorservicesgroup.com/group without anything after that. Ready for testing.

[2015-01-21 07:39] tbstevens commented on #156
@Creekridge - The new Manage Docs capabilities have been deployed to production. I won't go into great detail in this comment as it is probably better served through a call, but in Vendor1 you'll notice that it is setup with the default Credit Application and Proposal Letter templates and both can be generated by checking them and clicking the Generate Selected Documents button. You should also no

[2015-01-21 07:43] tbstevens commented on #157
@OlegForce - The updates didn't resolve the issue. If you take a look at this in prod, for Vendor1, there is a scenario setup with a rateFactor=0 at the minPrice of 1,000,000. If you were to enter an equipmentPrice of 1,000,000 and select all products, purch options, and terms, and click calculate payment, the last record should display with a message to call in for rates. Instead, it is still sel

[2015-01-21 08:05] tbstevens commented on #138
@OlegForce @Creekridge -

Just to provide some more info Oleg -

In both browsers, going to vendorservicesgroup.com results in the sales rep being able to see the sales rep filter, and they should not. In both browsers, the sales rep is seeing applications across all users.

If you log into the portal by remoting into CRCVIP and visiting localhost:8080 in Chrome you still get the issue of seeing a

[2015-01-21 16:16] Creekridge commented on #150
Have another call scheduled at 10:30 and just got back from a meeting.  Maybe 11?

From: tbstevens [mailto:notifications@github.com]
Sent: Wednesday, January 21, 2015 12:51 AM
To: TamarackConsulting/Creekridge_Portal
Cc: Sandy Graves
Subject: Re: [Creekridge_Portal] Remove My Sites option from dockbar for Site roles (#150)

@Creekridge<https://github.com/Creekridge> - I'll reach out tomorrow (1/21

[2015-01-21 17:18] Creekridge commented on #125
Confirmed - works as described by tstevens in last comment.

[2015-01-21 17:21] Creekridge commented on #161
Confirmed.  Now receive login fields when go to Vendor Site login.

[2015-01-21 17:23] Creekridge commented on #126
Confirmed Works in both IE and in Safari on iPad. QUESTION - How difficult would it be to open in a separate tab?  Right now, it opens in same tab and you have to click on the "back" to get back to the site.

[2015-01-21 17:26] Creekridge commented on #120
Confirmed it's working and the file is translatable as demonstrated by the e-mailed files.  Will need to further discuss how to update that transform to map into Rapport using current Import process (IDS Import tool) that Tamarack assisted us with.  Can close issue and that would be out of scope for this project.

[2015-01-21 17:29] Creekridge commented on #156
See checkboxes and Generate Docs button, but both documents generate when only 1 selected.  Speed is much faster.

[2015-01-21 17:31] Creekridge commented on #129
@tbstevens  - is this ready to test again?

[2015-01-21 17:39] Creekridge commented on #99
Confirmed works from Marketing Materials and from Reporting as Admin.  Need to create folder/report to test as other users from Reporting - can I get a reminder on the process?  Have same question here as in PDF in Browser case - QUESTION: How difficult would it be to get it to open in a separate tab?

[2015-01-21 18:38] tbstevens commented on #156
@OlegForce  - Looks like we need to make a fix to ensure only the selected documents are generated. If you only check one of the options it is generating both docs, per creekridge's message above.

[2015-01-21 18:41] tbstevens commented on #99
@Creekridge - I'll add this to our meeting topics.

[2015-01-21 18:45] #120 closed

[2015-01-21 18:45] #161 closed

[2015-01-21 18:46] tbstevens commented on #129
@creekridge - No. #157 is close to being resolved which is the reason this one is still open.

[2015-01-21 19:04] #125 closed

[2015-01-21 19:15] #99 closed

[2015-01-21 19:15] tbstevens opened #162 "Open PDFs in new browser"
To provide estimate to creekridge

[2015-01-21 19:25] tbstevens opened #163 "Verify webdav directory can be mapped to Crystal Reports server"
Creekridge to verify mapping the directory works on crystal reports server.

[2015-01-21 19:25] #126 closed

[2015-01-21 19:30] #150 closed

[2015-01-21 19:31] tbstevens opened #164 "Logout redirect user to vendor branded login"
Awaiting decision from Creekridge on whether to move forward with logout hook for vendor branded logout.

[2015-01-21 20:18] tbstevens commented on #128
@Creekridge - Custom Fields permissions updates are complete. Retested this issue by submitting an application while logged in as a sales rep. It successfully emailed me at both of the email addresses included. To retest, just modify the Rep Email custom field for any vendor and include more than 1 email address by using a semicolon delimiter.

[2015-01-21 20:23] tbstevens commented on #162
@Creekridge - Simple fix to open doc in new browser for the manage docs page, but could take up to 2 hours to make the change in the Marketing Materials and Reports pages as they are part of a customized hook and the anchor tag is emedded within a Liferay tag. It's doable, just a little more work than the other page.

[2015-01-21 20:25] tbstevens commented on #132
@Creekridge - Custom Field permissions updates resolved the issue. Tested in prod by logging in as an admin in another separate browser session and as a sales rep in another browser session. Had the sales rep on a view only application screen and edit application screen. Had the admin user in the other browser toggling the bank ref and principal sections between true and false. Refreshing the sale

[2015-01-21 20:45] Creekridge commented on #164
@tbstevens - Please proceed.

[2015-01-21 20:54] tbstevens commented on #164
@psakia - Pius, we need to add additional logic to the hook so that vendor users are redirected to their vendor branded login page after logging out from the vendor site.

Current functionality (out of the box)
--------------------
- Users are redirected to the main portal page after logging out.

Desired functionality
----------
- Users are redirected to the public login page on the vendor site b

[2015-01-21 21:23] tbstevens commented on #157
@Creekridge - Tested and working in prod now. Under Vendor1, there is a series of rules for the following combination: Product = 0% for 6 months, Purchase Option = $1 out, Term = 24 months.

The following rules are setup at different minPrices. I tested 4 of the price levels to be accurate. Please confirm.

MinPrice: $0   RateFactor: 0.007
MinPrice: $25000   RateFactor: 0.003
MinPrice: $50000   Ra

[2015-01-21 21:24] tbstevens commented on #138
@Creekridge - I think we FINALLY may have resolution on this one! I'm not promising anything considering its history but I logged in as a sales rep, sales manager, and admin and saw expected results in internet explorer and chrome. Please confirm.

[2015-01-21 21:31] psakia commented on #164
@tbstevens in Acceptance Criteria you have included Site Admin. I thought this is only applicable to site-roles? Also at 1# you specified the landing logout page to be http://[domain]/group/[vendor]/ page
Do you actual mean http://[domain]/web/[vendor]/Login.? note the difference  between "/web" and "/group". Because in the above Setup section  you wrote " Create one public titled "Login". I'm ass

[2015-01-21 21:34] tbstevens commented on #129
@OlegForce  - One more quick fix to make here. The requirements above ask for a different message to display if the Rep Name and Rep Phone aren't both setup for the vendor. If you get a null or blank value in those fields, it should display "Please submit a contact form for payment amount information on this pricing option.".

Instead it is displaying the same text but no name or phone. screenshot

[2015-01-21 21:35] tbstevens commented on #157
@Creekridge  - I will log a separate issue related to disbling the Continue button from the Payment Options section if the only record returned is an option with a rate factor = 0 so that we can close this issue if it met the criteria related to this fix.

[2015-01-21 21:39] tbstevens opened #165 "Disable "Continue to Customer Info" button in Pricing Overview section if all records returned have rate factor = 0"
Issue
------------
When all the records displayed in the Pricing Overview section have ratefactor = 0 and require the vendor to call in for pricing, the user is still able to press the Continue to Customer Info button and submit the application.

Expected
--------------
If all options returned in the Pricing Overview section have ratefactor = 0, the Continue to Customer Info button should be disab

[2015-01-21 21:57] tbstevens commented on #164
Hey @psakia - I think you accidentally closed this issue when you commented. I reopened it.

There are portal admins, and site admins. Any site level user should be redirected to their site login page.

The "/group/" instead of "/web/" is not a mistake. If you look at the behavior of liferay, if a user attempts to hit a private page, it will direct them to the public page with the correct redirect

[2015-01-22 00:59] OlegForce commented on #156
ok. It should work now.

[2015-01-22 01:08] OlegForce commented on #129
Adjusted to account for empty string. Url for contact us form was there already, just did not check for empty string. No it should not show rep info if either phone or name are missing.

[2015-01-22 01:29] OlegForce commented on #165
give it a shot.

[2015-01-22 05:03] tbstevens commented on #156
@Creekridge - Tested in prod. As mentioned in the comment above, you can use vendor1 to test the message with Rep Name and Rep Phone configured. Vendor2 currently displays the message if Rep Name and Rep Phone are not configured.

[2015-01-22 05:05] tbstevens commented on #165
@Creekridge - Tested in prod. You can use Vendor 1, 0% for 6 months, $1 out, 24 month term with an equipment price of 1 million to test the scenario of having 1 result that disables the button.

[2015-01-22 05:06] tbstevens commented on #129
@Creekridge - tested and working in prod.

[2015-01-22 21:30] Creekridge commented on #163
@tbstevens  - This isn't working.  I can map the drive on the server, but I cannot share it or give permissions to it so Crystal can't find it - tried on both servers.  I also tried writing from Crystal to the WebDAV link and Crystal server says that it was successful, but no file is viewable through wither the mapped drive or the web interface.  Any ideas?

[2015-01-23 19:48] tbstevens commented on #164
@Creekridge - Working in prod. Ready for testing.

[2015-01-23 19:51] tbstevens commented on #162
@Creekridge - Dev was able to find method that made this a very small change (minutes) that he was able to modify while making the logout changes to the hook.

[2015-01-23 21:02] Creekridge commented on #164
Confirmed.

[2015-01-23 21:03] Creekridge commented on #162
Confirmed it works.

[2015-01-23 21:09] Creekridge commented on #156
@tbstevens think your last comment was on the wrong case.  Confirmed I can generate the documents separately.

[2015-01-23 21:11] Creekridge commented on #138
Logged on as SalesRep and can only see the SalesRep Apps.  Looks like it's working correctly.

[2015-01-23 21:13] Creekridge commented on #132
Confirmed it works.

[2015-01-23 21:22] Creekridge commented on #165
Confirmed with the above scenario.

[2015-01-23 21:24] Creekridge commented on #157
Tested with Vendor1 and FMV 48 months - I updated database for 3 minprice levels.  It works.

[2015-01-23 21:26] Creekridge commented on #129
Confirmed show name and phone from Custom Fields or when Phone number blank to submit Contact Form

[2015-01-23 21:30] Creekridge opened #166 "Term Option Order"
Enhancement Request
--------------------------------
The term options in the payment calculator should always display in numerical ascending order (24 > 36 > 48 > etc) even as the options dynamically change based on other selections from the products and purchase options.

Original Question from Creekridge
-------------
when I was testing today, the term options weren't listed in numerical order -

[2015-01-23 21:35] Creekridge opened #167 "Customer Information didn't save when clicked on Manage Documents"
Entered New application straight through and clicked on Mange Documents to create Proposal.  Went back to Credit Application and all Customer fields now blank.

[2015-01-23 21:38] Creekridge opened #168 "Clicking on Submit when no option selected looks like it doesn't do anything."
Received error message, but due to window size, I had to scroll to the top of the window to see the error.  What are our options?  Can it be a pop-up that needs to be closed instead of at the top or when error ops up, takes you back to the top of the page?

Update 2/27/2015:
-----------
Make sure the "At least on option needs to be used on the application." error also moves the user back up to the

[2015-01-23 21:40] Creekridge commented on #128
Confirmed it works.

[2015-01-23 21:54] tbstevens commented on #168
@Creekridge - We can accomodate whatever error messaging you'd like to see here (with the understanding that it would take some additional time). This is following the same standard place other error messaging appears in the form. We could have the error message pop as a modal like the terms or whatever you'd prefer. Or we could simply look into forcing the screen to reposition to the top of the p

[2015-01-23 22:03] tbstevens commented on #166
@OlegForce - Before working on this one, could you provide an estimate for how much effort you believe it would be to make these always appear in numerical ascending order? Once approved, I'll relabel this as a Minor defect and let you know. Just looking for estimate on this one.

[2015-01-23 22:03] #165 closed

[2015-01-23 22:04] #164 closed

[2015-01-23 22:04] #162 closed

[2015-01-23 22:04] #157 closed

[2015-01-23 22:04] #156 closed

[2015-01-23 22:05] #138 closed

[2015-01-23 22:05] #132 closed

[2015-01-23 22:05] Creekridge commented on #168
Looking for the time estimates please.

[2015-01-23 22:05] #129 closed

[2015-01-23 22:05] #128 closed

[2015-01-27 06:04] OlegForce commented on #167
@tbstevens not able to reproduce in local env... help?

[2015-01-27 18:38] tbstevens commented on #168
@Creekridge - To shift the focus back up to the top of the page each time there is an error so the user is aware of the error messaging, would be about 1 hour of time across dev, unit test, and test in prod.

[2015-01-27 18:39] tbstevens commented on #166
@Creekridge - Estimate is around 2-3 hours...a little more difficult based on how this dynamically gets populated and can change as selections are modified.

[2015-01-27 18:40] tbstevens commented on #163
@Creekridge - Just out of curiousity - is there any update on this one after speaking to Crystal?

[2015-01-27 18:42] Creekridge commented on #163
Been busy with other issues – haven’t spoken to Crystal yet.  I’ll let you know as soon as I can….however, this is something that we can complete post “live” date.

From: tbstevens [mailto:notifications@github.com]
Sent: Tuesday, January 27, 2015 12:41 PM
To: TamarackConsulting/Creekridge_Portal
Cc: Sandy Graves
Subject: Re: [Creekridge_Portal] Verify webdav directory can be mapped to Crystal Repo

[2015-01-27 18:45] tbstevens commented on #167
@Creekridge - Sorry, but could you see if you're able to recreate this again? If so, could you provide some steps? Our developer was unable to recreate this in the local environment and I was just unable to recreate this in production under both vendors. Tried a few applications. I created a new application, filled out all required fields, did not press save. Just pressed manage docs. Went to mana

[2015-01-30 15:55] tbstevens commented on #118
@Creekridge - We have a fix for this (tested in local environment). I need to deploy the updates to the existing theme file to deploy and test in production. Is there a new method for deploying these files to the server now that it is in the DMZ? I can no longer access CRCVIP through remote desktop.  Thanks!

[2015-01-30 17:21] Creekridge commented on #118
Tom,

Use the IP 192.168.5.20 instead of the server name in the Remote Desktop Connection.

Sandy

From: tbstevens [mailto:notifications@github.com]
Sent: Friday, January 30, 2015 9:55 AM
To: TamarackConsulting/Creekridge_Portal
Cc: Sandy Graves
Subject: Re: [Creekridge_Portal] Logo size in Mobile/Tablet Version (#118)

@Creekridge<https://github.com/Creekridge> - We have a fix for this (tested in

[2015-01-30 18:32] tbstevens commented on #118
Sorry Sandy, it doesn't seem to be working. https://www.dropbox.com/s/bsai6a6qr0hfbs9/remotedesktopmessage.png?dl=0

[2015-02-02 21:47] Creekridge commented on #167
@tbstevens could not re-create

[2015-02-02 21:48] Creekridge commented on #168
Please go ahead and do.

From: tbstevens [mailto:notifications@github.com]
Sent: Tuesday, January 27, 2015 12:39 PM
To: TamarackConsulting/Creekridge_Portal
Cc: Sandy Graves
Subject: Re: [Creekridge_Portal] Clicking on Submit when no option selected looks like it doesn't do anything. (#168)

@Creekridge<https://github.com/Creekridge> - To shift the focus back up to the top of the page each time th

[2015-02-02 21:56] Creekridge commented on #166
@tbstevens yes, please go head an have the term order in numerical order.

Thanks - Megan and Sandy

[2015-02-02 21:57] Creekridge opened #169 "Notifications on Blue Dock Bar"
@tbstevens, looks like the notifications on the blue dock bar have reappeared. Can you look into this as we'd like them to not show.

[2015-02-02 22:00] Creekridge commented on #127
Do I need to request it as a “TomCat” or “Microsoft IIS” server?
[cid:image001.png@01D03F01.4E6A4950]

Sandy

From: psakia [mailto:notifications@github.com]
Sent: Monday, January 12, 2015 8:13 PM
To: TamarackConsulting/Creekridge_Portal
Subject: Re: [Creekridge_Portal] SSL (#127)

@tbstevens<https://github.com/tbstevens> The followings are instructions on how to setup SSL in Liferay Portal;

  1.

[2015-02-03 13:20] tbstevens commented on #166
@OlegForce - Oleg, please proceed with this one.

[2015-02-03 13:23] #167 closed

[2015-02-03 13:25] tbstevens commented on #168
@OlegForce - Please proceed with this one.

[2015-02-03 14:22] Creekridge commented on #169
@tbstevens not seeing it anymore, once I created a new vendor site.

[2015-02-03 14:38] Creekridge opened #170 "Marketing Materials Not Opening in IE"
@tbstevens when I go to open marketing materials in IE, it does not work. It works in FireFox. Haven't tested any other browsers.

[2015-02-03 14:52] Creekridge opened #171 "New Vendor Login Page Showing Logo and Text"
@tbstevens when creating a new vendor login page, we are seeing both the LeaseStation logo and the text "LeaseStation". Can we have it just show the logo.  www.vendorservicesgroup.com/web/leasestation

[2015-02-03 15:15] tbstevens commented on #169
I had redeployed hook to see if that would take care of the issue as well. The timing may have been around the same time. I'll close it out.

[2015-02-03 15:15] #169 closed

[2015-02-03 15:33] tbstevens commented on #170
@Creekridge - What version of IE? I just tested in IE11 and it works.

The previous request to modify the document libraries to open PDFs in the browser vs having them download as a file requires the user to have a pdf viewer built into the browser. All modern browsers have it built in including Chrome, Firefox, Opera, Safari, or IE10+. There are some known issues with IE versions older than 10. F

[2015-02-03 15:39] tbstevens commented on #171
@Creekridge - Updated the Vendor Login template to not show the site name in the banner. Also update the Lease Station site to now show the name since the Vendor Login template wasn't set right when the site was created. Future sites using that template will default to not show the site name.

For future reference, it's a checkbox that appears in the Logo screen of the Site Settings. Here's a scre

[2015-02-03 15:39] #171 closed

[2015-02-03 19:09] Creekridge commented on #170
@tbstevens got it, thanks!

[2015-02-03 19:10] Creekridge commented on #170
@tbstevens I was using IE10.

[2015-02-03 19:13] Creekridge opened #172 "URL Links of Vendor Login Pages"
@tbstevens, what is the reasoning behind the "/web" being in the URL's? Is that something LifeRay does? Would it be possible to remove this from the URL's? If so, what is the time estimate of it?

[2015-02-03 20:59] Creekridge commented on #171
Thank you!

[2015-02-03 21:24] Creekridge opened #173 "Continue to Customer Info. Button"
@tbstevens, when I click this button, it pulls the screen to the top to show that it's saved, which is OK. However, on the open section, it should the Customer Information section open, not the pricing options section.

[2015-02-03 23:39] kdolan12 commented on #127
@Creekridge These are instructions to setup the certificate directly in Tomcat.  There is really 2 ways we can do this:

1) We can setup Tomcat to receive the HTTPS requests directly.  I.e., setup the certificate on Tomcat as instructed above.
2) If we use IIS, we will need to configure the "JK Connector" to then have IIS forward requests on to Tomcat.

Sandy - We have a meeting tomorrow and I can

[2015-02-04 15:19] Creekridge opened #174 "Terms and Agreement Pop-Up"
@tbstevens when someone clicks the "Submit" button, the terms and agreement section needs to have "Creekridge Capital LLC" replaced with the Vendor name. For our private label programs, we cannot let people know we are Creekridge, even in the fine print.

[2015-02-04 21:40] tbstevens commented on #170
@Creekridge - Are we okay with closing this issue based on the information provided above or would you like some other recommended options that may require changes? Just wanted to make sure I didn't close anything that may not be resolved from your perspective.  Thanks.

[2015-02-04 21:44] tbstevens commented on #173
@OlegForce - Oleg, can we make sure that the Customer Information section is the expanded section when a user clicks on the "Continue to Customer Info" button?

[2015-02-04 21:46] tbstevens commented on #174
@OlegForce - Please update the Terms & Agreement section to dynamically populate the Vendor's name based on the vendor name from Liferay site setup wherever it currently says Creekridge.

[2015-02-04 22:00] tbstevens commented on #172
@Creekridge - No estimate needed. Under site settings, you can set a Virtual Host domain on the public page or private page. Since you have redirect setup from the public page you could setup just the public page setting. As an example, I set it up on Vendor 1. If you go to vendor1.vendorservicesgroup.com it will take you to the public page for Vendor 1. If you go to Control Panel > Admin > Sites

[2015-02-04 22:02] #172 closed

[2015-02-04 22:16] Creekridge commented on #170
@tbstevens ok to close

[2015-02-04 22:18] Creekridge commented on #118
@tbstevens  you should be able to access this now

[2015-02-05 02:02] #170 closed

[2015-02-05 05:03] tbstevens commented on #172
@Creekridge - Adding to what I wrote earlier, virtual host option is what you can use if you wanted to set up a short subdomain for each vendor to remove the longer URL. As far as removing the "/web" for public pages and the "/group" for private pages, it's a little more complex. They cannot be removed unless you mapped to a virtual host as suggested earlier. There is an option to customize the ur

[2015-02-05 16:10] Creekridge commented on #172
@tbstevens - with the virtual subdomain, this would mean we'd need a "wildcard" SSL certificate - correct?

[2015-02-05 22:17] Creekridge opened #175 "Login and Logout hooks not working correctly"
When I tried to logout, I received an "Internal Server Error".  When I was logged in already to the site and when to Vendor 1 - it required me to login again.  I'm assuming this is something to do with the subdomain change since all the other sites worked fine.

[2015-02-06 15:55] tbstevens commented on #118
@Creekridge - This is now ready to be tested in prod. The change that was made was to the responsive css file that controls the entire liferay framework. The responsive file was restricting the width of logos to 35px when it moved into mobile view. That restriction was modified to 100px of width. You will notice that the logo does get smaller to ensure there aren't width issues on mobile size scre

[2015-02-06 16:03] tbstevens commented on #175
Based on virtual host setting. Closed out.

[2015-02-06 16:03] #175 closed

[2015-02-06 16:49] Creekridge commented on #118
@tbstevens - still looks a little small to me, but this one is really Megan's call.  She's out until Monday so we'll take a look at it then.

[2015-02-06 16:52] Creekridge commented on #166
@OlegForce  & @tbstevens  - we didn't specify, but we'd like ascending order (12, 24, 36, 48, etc) if we have the choice of ascending versus descending.

[2015-02-06 16:53] Creekridge commented on #163
@tbstevens - met with my Crystal folks yesterday and they are as baffled as I am as to why this isn't working.  They are checking with some additional resources on their side and will get back to me.

[2015-02-06 17:34] OlegForce commented on #166
ascending it is then :)

[2015-02-06 22:37] Creekridge commented on #127
Few questions:
1 - I generated the CSR and put the keystore in the jre7/bin location, not the jdk1.xxx\jre\lib\security location.  Do I need to recreate the keystore in the jdk1.xxx\jre\lib\security location?
2 - I'm assuming that generating a CSR from either of the location above would create the same CSR.  Any ideas if this is correct?
3 - Where is the server.xml file that I'm supposed to "Enabl

[2015-02-06 22:39] Creekridge commented on #127
Oh - also, do I need to restart anything for the above changes to start working?

[2015-02-07 12:45] tbstevens commented on #118
@Creekridge - We can adjust the minimum width requirement to whatever you consider the most optimal. Another thing to consider is whether or not you'll have any logos that are more square in dimension. If the width limitation is set to say, 200px, a square logo would also result in 200px of height. That would take up a lot of vertical real estate on a mobile screen. A rectangular logo wouldn't be

[2015-02-07 12:54] tbstevens commented on #174
@Creekridge - Ready for testing.

[2015-02-07 12:55] tbstevens commented on #173
@Creekridge - Ready for testing

[2015-02-07 12:56] tbstevens commented on #168
@Creekridge - Ready for testing. It is now setup to shift focus back up to the top of the page where the error messaging is after receiving an error message. Tested while viewing bank references, principals (i.e. further down the page) by pressing Save or Submit with missing info.

[2015-02-07 12:58] tbstevens commented on #166
@creekridge - This is ready for testing.

[2015-02-07 20:34] psakia commented on #127
@creekridge Please see the following answers;
1. Let's try to follow the initial instructions if don't work will try alternative. So let's put cert at jdk1.xxx\jre\lib\security.

2. The server.xml can be located at <Liferay_Home>\tomcat-xxx\conf\

Yes, you will need to restart
the server. Please make sure you don't forget to add the Liferay https settings in portal-ext. properties as the instructi

[2015-02-10 18:23] Creekridge commented on #127
@psakia & @tbstevens - Didn't work.  Can we set up a webex and work through it together?

[2015-02-10 18:58] psakia commented on #127
Hi Tom/CreekRidge, Can you share any errors information you are getting? At least we can know which side it's failing Liferay or generated certificate itself?

Sent from my iPhone

[2015-02-10 19:01] Creekridge commented on #127
Page not found.   And if you go to http:/www.vendorservicesgroup.com the public login page shows the hidden links.

From: psakia [mailto:notifications@github.com]
Sent: Tuesday, February 10, 2015 12:59 PM
To: TamarackConsulting/Creekridge_Portal
Cc: Sandy Graves
Subject: Re: [Creekridge_Portal] SSL (#127)

Hi Tom/CreekRidge, Can you share any errors information you are getting? At least we can kno

[2015-02-10 19:47] psakia commented on #127
Hello Sandy,
The information on the SSL setup instructions was for Liferay side with assumptions that you have created and imported to default server JRE folder indicated.

For generating ssl certificate I'm assuming you are using installed JFK key tool generator self-signed certificate.

Please find the following link with complete instructions on how to create self-signed certificate using key t

[2015-02-10 20:20] Creekridge commented on #127
I have already created and imported the certs to the default server JRE folder indicated.

Yes, I used the Java keytool generator.

The only step included in this document that I hadn’t done is the path for the keystore file. https://www.liferay.com/web/meera.success/blog/-/blogs/liferay-portal-ssl-configuration.  I have now done added that and it still isn’t working.

[2015-02-18 15:36] Creekridge commented on #174
@tbstevens Looks good. Thank you!

[2015-02-18 15:40] Creekridge commented on #173
@tbstevens Fixed. Thank you!

[2015-02-18 15:44] Creekridge commented on #168
@tbstevens looks like it's fixed. Thank you!

[2015-02-18 15:45] Creekridge commented on #166
@tbstevens it's working. Thanks!

[2015-02-18 15:51] Creekridge opened #176 "Deactiviate a Vendor Site"
@tbstevens is there a way to temporarily deactivate a specific vendor site, but keep all the information on it should they want the site back in the future?

[2015-02-18 16:17] Creekridge commented on #118
@tbstevens Looks good. Thanks!

[2015-02-18 16:49] Creekridge opened #177 "Notifications on Blue Bar"
@tbstevens  these notifications are back, even after I delete all internet history, cookies, etc.

[2015-02-18 16:53] Creekridge opened #178 "Applications"
@tbstevens just some small text changes to remain consistent on "Applications" vs. "Credit Applications". Please change:

- View Applications page heading to "View Applications" (remove Credit)
- View Applications page, please remove "applications" after Display drop down
- Manage Documents page, please change button to say "Back to Application" (vs. Back to Credit App)

Thanks!

[2015-02-20 19:22] #118 closed

[2015-02-20 19:28] #174 closed

[2015-02-20 19:28] #173 closed

[2015-02-20 19:29] #166 closed

[2015-02-20 19:29] #127 closed

[2015-02-20 19:31] tbstevens commented on #176
@Creekridge - Yes. In Control Panel > Sites > Actions > "Deactivate". Once pressed, the site is no longer active. You can then activate through the same method.

[2015-02-20 19:34] Creekridge commented on #176
@tbstevens thanks!

[2015-02-20 19:42] #176 closed

[2015-02-20 22:51] Creekridge opened #179 "Creekridge Rep Login Page"
@tbstevens when I log in as a Creekridge Representative, it shows me a "page not found". Can we fix this to show all the vendor sites they are connected to?

[2015-02-23 16:25] Creekridge opened #180 "What folder actually contains the website files?"
@tbstevens  - I'm setting up a security scanning service to help prevent hijacking and malware being inserted into the site (service is called SIteLock) and it requires ftp access to the folder where the website files for my domain are stored.  I'm assuming it's C:\portal\liferay-portal-6.2-ce-ga2, but from there does it go under Tomcat or something else.

[2015-02-23 17:45] tbstevens commented on #180
Once code is deployed it moves into this folder: ...\liferay-portal-6.2-ce-ga2\tomcat-7.0.42\webapps

That webapps folder contains the files for each portlet, hook, and theme in liferay.

The 3 folders within the webapps folder where we have custom code is:

Creekridge-portlet
VendorServicesGroupTheme-theme
CreekRidge-hook

[2015-02-23 18:09] tbstevens commented on #179
@Creekridge - The Creekridge Manager needs to be assigned to the "Vendor Services Group" site. This private page of that site is the landing page for admins and Creekridge managers. The "page not found" error is based on the user logging in and not having access to private pages within that site. Vendor users would never see this because they are redirected to their one site. Let me know if you ha

[2015-02-23 18:10] tbstevens commented on #179
@Creekridge - I updated the existing creekridge manager test accounts so that they were added to the Vendor Service Group site. when you login under that user now, you should see it redirect to the site listing.

[2015-02-24 15:44] #180 closed

[2015-02-24 17:49] Creekridge opened #181 "Required Field Alert - Contact Phone"
When I tab off the Customer Contact phone, it doesn't turn red and give me the "This field is required message".  It is being checked upon save.

[2015-02-24 17:58] tbstevens commented on #181
@Creekridge - Could you let me know what vendor you're using or try to recreate that same issue? I just logged in and went to vendor 1. I tabbed through the fields and it correctly shows me the field required message on that phone field as I tabbed through. There must be

Screenshot:
https://www.dropbox.com/s/8ks7z6rxrusb8r1/customer%20contact%20phone.png?dl=0

[2015-02-24 18:03] Creekridge commented on #181
@tbstevens - we're setting up the first real site - Homecare Homebase
![required field](https://cloud.githubusercontent.com/assets/9805551/6355652/2195eeb8-bc1d-11e4-968e-95e1f4ec2a41.jpg)

[2015-02-24 18:14] tbstevens commented on #181
@Creekridge - Odd. I just went in and created an app (and canceled it) and received the message correctly in that site as well (screenshot below). I also went into the app you created, wiped out the phone number, hit tab and got the message. I can assign it but I'm worried they won't be able to recreate it to catch where the issue lies.
https://www.dropbox.com/s/2xihgh7sovnex8z/PhoneMessage.png?dl

[2015-02-24 18:16] tbstevens commented on #181
@Creekridge - Figured out the issue. Works in chrome. Doesn't work in IE. I'll assign it.

[2015-02-24 18:17] tbstevens commented on #181
@OlegForce  - Looks like some of the required field messaging when tabbing off the field is working in Chrome but not working in IE.

[2015-02-24 18:18] tbstevens commented on #179
@Creekridge - ok to close this one out?

[2015-02-24 19:37] Creekridge opened #182 "Need another Custom Field"
@tbstevens - We need another custom field added - Provider Name.  This will be used in the documents and in some of the places that you currently have "Name" field loaded - like the Terms & Agreement popup.  In the case of the new site we set up, our Vendor is Homecare Homebase, but we are still Creekridge Capital LLC.  We can't have multiple sites labeled Creekridge Capital - that just causes add

[2015-02-24 19:38] Creekridge commented on #179
@tbstevens - you didn't assign it to us so we weren't aware it was ready to test.

[2015-02-24 19:44] Creekridge commented on #179
@tbstevens still getting "Page Not Found" error.

[2015-02-24 19:45] Creekridge commented on #179
@tbstevens I was trying to log in as Sheri Schneider

[2015-02-24 20:18] Creekridge opened #183 "Proposal Template"
@tbstevens  - Couple of issues with the Proposal Template.
1 - In looking at the ProposalLetterTemplate.html stored in the C:\portal\liferay-portal-6.2-ce-ga2\tomcat-7.0.42\webapps\CreekRidgeCapital-portlet\html\manageDocument location, there is coding included that is NOT showing up on the generated document.  When I changed it and regenerated, the changes didn't show up on the new document.  Is

[2015-02-24 20:44] Creekridge opened #184 "Customer Address2"
Customer Address2 appears to be auto-populating with the value of CustomerAddress1.  In my application, I left it blank, but when I go back in, it's populated.  I then CHANGED the value, Saved the Application and the value in Address2 changed back to the value in Address1

[2015-02-24 21:04] tbstevens commented on #182
@Creekridge - We can add another custom field without more definition needed. However, it sounds like you have specific places where the code needs to be modified to pull in this new Provider name value instead of the site name. To better understand the effort, could you provide: 1. the screens/areas of the application where the name will need to be updated to use the new provider name field vs si

[2015-02-24 21:10] tbstevens commented on #183
@divinami - regarding the address1 and address2 in the 3rd item above, you can ignore that one Mike. There's a separate bug that will be assigned to Oleg to fix that from the front end.

[2015-02-24 21:11] tbstevens commented on #184
@OlegForce - could you take a look at this one?

[2015-02-24 21:19] tbstevens commented on #179
@Creekridge - Could you try and add Sheri as a Creekridge Manager user without an organization? The portal was not setup to use organization hierarchy. Organization hierarchy is typically what would be used on an internal portal for departmental users, not an external portal. Adding her as a user within an organization may be causing the login to behave differently. I'm unable to recreate when a u

[2015-02-24 21:39] tbstevens commented on #177
@Creekridge - Ready for retesting on prod.

[2015-02-24 21:40] tbstevens commented on #178
@Creekridge - Ready for retesting on prod.

[2015-02-24 21:45] Creekridge commented on #182
@tbstevens  - We want to configure it on EVERY site.  The screens/areas that need the field is the verbiage in the Terms & Agreement popup when you submit the application and as a tag in the documents (which I should be able to change) - as stated in my original submission.

[2015-02-25 01:05] OlegForce commented on #181
Which version of IE?

[2015-02-25 01:11] Creekridge commented on #181
11

Sent from my iPhone

On Feb 24, 2015, at 7:05 PM, olegforce <notifications@github.com<mailto:notifications@github.com>> wrote:

Which version of IE?

—
Reply to this email directly or view it on GitHub<https://github.com/TamarackConsulting/Creekridge_Portal/issues/181#issuecomment-75885603>.

[2015-02-25 16:01] tbstevens commented on #182
@creekridge - Based on the request, the estimate to move forward with this enhancement is 3-4 hours for setup, dev, testing, and deployment. Please let me know if you would like to move forward with this and we can fast track it to the dev team to hopefully have it ready to be deployed prior to Monday.

[2015-02-25 16:04] Creekridge commented on #182
@tbstevens - please proceed.

[2015-02-25 16:09] tbstevens commented on #182
@Creekridge - Sounds good. I'm going to close this one out and log as 3 separate issues so they can be tracked separately from one another.

[2015-02-25 16:09] #182 closed

[2015-02-25 16:11] tbstevens opened #185 "Create new custom field titled "Provider Name""
Enhancement Request
-------------------------------
Creekridge would like a new custom field on the Site object titled "Provider Name". The custom field will be used to display a unique provider name separate from the site name in the Terms disclaimer and the documents generated.

[2015-02-25 16:18] tbstevens opened #186 "Replace site name with new custom field "Provider Name" in Terms & Agreement Modal"
Enhancement Request
------------------------------------
In the terms and agreement modal that the customer views upon submitting an application, the company name is currently based on the site name as configured in the Site Administration area of Liferay. For legal reasons, Creekridge needs the ability to set a Provider Name so that the company name in the terms & agreement modal can be unique fr

[2015-02-25 16:27] tbstevens opened #187 "Enable new custom field to be used in doc gen templates"
Enhancement Request
---------------------------------
Current functionality limits Creekridge to displaying the vendor name based on the configured site name from the portal's site administration configuration screen in document templates. Creekridge would like the flexibility to modify the template to display a separate "Provider Name" field for certain clients.

Design
--------------
1. A new cu

[2015-02-25 16:28] tbstevens commented on #185
Complete. Doesn't need testing. Testing will take place on the front end work.

[2015-02-25 16:28] #185 closed

[2015-02-25 16:43] tbstevens commented on #181
@Creekridge - After looking into this a bit, I'd like to recommend we move this off the issue list.

1. There is no impact to the business requirement of informing users of a required field and preventing customers from submitting/saving without required fields. This is still working.

2. The impact is limited to the value added benefit of receiving a required message on tab-out. Furthermore, it's

[2015-02-25 19:36] divinami commented on #183
1 - Please modify the files in liferay-portal-6.2-ce-ga2\liferay-plugins-sdk-6.2\portlets\Creekridge-portlet\docroot\html\manageDocument (i.e. not tomcat-7.0.42\webapps\CreekRidgeCapital-portlet\html\manageDocument).  Then do a build/deploy.
2 - Fixed.
3 - [eCreekRidge_CreditApp.equipmentDesc] and [eCreekRidge_CreditApp.equipmentPrice] were available.  But there were the following issues in Propos

[2015-02-25 19:37] divinami commented on #187
Implemented and checked in.

[2015-02-25 19:38] Creekridge commented on #183
@divinami - please document the "Build/deploy" process.  I'll need to add/make changes to existing documents quickly.

[2015-02-25 19:54] divinami commented on #183
@tbstevens I just run the liferay-portal-6.2-ce-ga2\liferay-plugins-sdk-6.2\portlets\Creekridge-portlet\build.xml > deploy target.  I'm not sure how to duplicate that on their server.  I'm assuming there's already some process to deploy when we give them new code.

[2015-02-25 20:11] tbstevens commented on #183
@Creekridge - We'll have a discussion on this first item and get back to you.

[2015-02-25 22:47] OlegForce commented on #186
added new field "Provider Name".

[2015-02-25 22:48] tbstevens commented on #183
@Creekridge - We found a solution that would prevent you from having to do a build/deploy. The issue was related to the file location being part of the portlet and Tomcat's deployment of those folders is not always consistent. The fix was to create a consistent file location of c:\portal\templates. Once I deploy these changes to the prod server, I'll copy and paste all existing template files into

[2015-02-25 23:22] tbstevens commented on #186
Tested and working in prod.

[2015-02-25 23:31] tbstevens commented on #187
Tested and working in prod. Created a ProposalLetterTemplate-TestVendor1.html file in the new c:/portal/templates file location. Changed "[vendor name]" to "[Provider Name]". Added a Provider Name value of "Provider Name" in the custom field for Vendor1 site. Modified the custom field "Vendor HTML Template list" to use the new html file name for vendor1 from above. Generated a proposal letter and

[2015-02-25 23:32] tbstevens commented on #184
Tested in prod and working.

[2015-02-25 23:33] tbstevens commented on #183
Tested and working.

[2015-02-26 14:17] Creekridge commented on #177
@tbstevens no longer seeing notifications. thanks.

[2015-02-26 14:18] Creekridge commented on #178
@tbstevens fixed. Thanks!

[2015-02-26 14:31] Creekridge commented on #179
@tbstevens do you recommend "User Groups" to keep users organized on the back end? I have Sheri as a Creekridge Manager and attached to the Homecare Homebase site. Still getting "Page Not Found" error.

[2015-02-26 14:37] Creekridge commented on #181
@tbstevens leave as is. thanks.

[2015-02-26 14:43] Creekridge opened #188 "Sales Rep Dropdown"
@tbstevens can we look into how much time would be involved with removing Sandy, Megan or other Admin users from the sales rep drop down?

[2015-02-26 14:44] Creekridge commented on #184
@tbstevens works. thanks.

[2015-02-26 14:47] Creekridge commented on #186
@tbstevens tested in homecare homebase. works on terms.

[2015-02-26 14:54] Creekridge opened #189 "New User"
@tbstevens how do we know when a user requests to be added to a vendor site?

[2015-02-26 16:13] Creekridge commented on #183
@tbstevens - I'm testing out some corrections to the proposal template.  It looks like the "compile" is now happening the first time a document is generated and putting it in the portal\templates location as the name from the Vendor Template Titles custom field.  Is this what you expected to happen?

Also, the pdf converter appears to be ignoring the "width" that I'm trying to set for the table ce

[2015-02-26 16:35] #177 closed

[2015-02-26 16:35] #178 closed

[2015-02-26 16:38] tbstevens commented on #179
@Creekridge - Could you email me the login for Sheri's account? I'm unable to recreate the same issue with other Creekridge Manager roles so to troubleshoot it looks like I may need her login. As far as user groups, that is an excellent way to arbitrarily keep users organized from an admin perspective. https://www.liferay.com/documentation/liferay-portal/6.2/user-guide/-/ai/user-groups-liferay-por

[2015-02-26 16:38] #181 closed

[2015-02-26 16:54] Creekridge commented on #183
@tbstevens  - never mind the width item - I figured it out.

[2015-02-26 19:17] tbstevens commented on #188
@Creekridge - Will get you an estimate shortly.

[2015-02-26 19:23] tbstevens commented on #183
@Creekridge - Could you provide some more info regarding the first question? I'm not sure I understand what the issue or question is. The only files that would be in c:\portal\templates are the templates you are creating for doc generation. The Vendor Template Titles custom field is only there to provide a more customer-friendly name associated to the template available under that specific site. A

[2015-02-26 19:23] #184 closed

[2015-02-26 19:24] #186 closed

[2015-02-26 19:24] tbstevens commented on #188
Estimate across dev, test, deploy is 3 hours.

[2015-02-26 19:54] Creekridge commented on #183
@tbstevens - yes, I'm seeing files being auto-generated and lading in the C:\portals\templates folder.  Example: my html template is called "Proposal Letter - Sandy.html" - this is the document that holds all the tags.  I added it to the Homecare Homebase site with the Vendor Template Title of "Proposal Letter Sandy".  After I generated the document to check the data and formatting, a file called

[2015-02-26 19:58] Creekridge commented on #183
@tbstevens - another question re: table spacing.  The template has the cellpadding, cellspacing, and border set to 0 on the tables, but the PDF generator appears to be adding a return or extra space in each row.  If you look at the "Proposal Letter Sandy.html" in a browser window, you can see how I'm expecting the values to appear.  Is there a setting in the pdf generator that can be changed?

[2015-02-26 20:22] Creekridge opened #190 "Logos Missing"
@tbstevens the logos have seemed to vanish from all sites. We aren't even seeing the option on the pages to upload logos.  Help?

[2015-02-26 20:23] Creekridge commented on #183
@tbstevens - Custom field "Vendor Address" is not pulling into the generated document.

[2015-02-26 20:30] Creekridge commented on #183
@tbstevens - Custom field "Vendor Zip" is also not pulling into the generated document.

[2015-02-26 21:14] tbstevens commented on #190
@Creekridge - Odd. The portal level setting must have been modified somehow. Control panel > Configuration > Portal Settings....scroll WAY down to logo. somehow the "allow site admin to use their own logo" was unchecked. checked it and turned it back on.

[2015-02-26 21:14] #190 closed

[2015-02-26 21:24] tbstevens commented on #189
@Creekridge - Might make sense to have a call on this one tomorrow morning if you're available.

The last time we spoke I thought we hadn't quite landed on a solution as to whether users would self-register or admins would add users based on other enhancements that were larger in size to support self-registration into a specific site.

If self registration is still desired, there are 2 things to t

[2015-02-26 21:58] tbstevens commented on #183
@Creekridge - Thanks for explanation of what's occuring in the template folder. I was able to replicate it and it is not expected. I didn't notice it when testing. I'll have Mike revisit it. I'll also log the last 2 items. Regarding formatting issues, it will require more digging. The conversion is using standard HTML to PDF conversion through OpenOffice (Apache OpenOffice.org) which is using JODC

[2015-02-26 22:01] tbstevens commented on #183
@divinami - Hey Mike - There's a couple items to fix. It's listed in the restesting updates in the description above.

[2015-02-26 22:21] Creekridge commented on #183
@tbstevens - Hold off on the digging - I just thought it might be something straightforward.  We can live with it as is for now.

[2015-02-27 00:24] divinami commented on #183
Fix for retesting issues checked into Git.

[2015-02-27 07:34] tbstevens commented on #183
@divinami - Thanks Mike.

[2015-02-27 07:54] tbstevens opened #191 "Favicon"
@Creekridge - This is obviously low on the importance scale but I just thought I'd mention it: The favicon for the portal is currently the default liferay favicon. If there's a favicon you want displayed instead, I could make that modification pretty quickly (15 min or so). A favicon is the little icon that appears in the tab of every browser.

To create a favicon from another image: http://www.fa

[2015-02-27 07:56] tbstevens commented on #183
@Creekridge - Sandy - the fix was deployed to production so you can test tomorrow morning if needed. Looks like there is no longer an extra file being generated in the templates folder and the vendor address and vendor zip are pulling into the template I generated. And I hadn't done any digging  yet on the pdf formatting issue -- I was waiting for your feedback. I'll hold off. Thanks!

[2015-02-27 14:56] Creekridge commented on #183
@tbstevens  - Now Vendor Phone isn't pulling.  Vendor Address and Zip are.

[2015-02-27 15:00] Creekridge commented on #183
@tbstevens - oops the custom field is actually Rep Phone - However, it still doesn't work.

[2015-02-27 15:28] Creekridge commented on #187
@tbstevens  - confirmed Provider name is loading to generated docs

[2015-02-27 15:29] tbstevens commented on #183
@divinami - Hey Mike, looks like the [Rep Phone] custom field is not available from the template. This is my fault for not communicating all of the various custom fields on the site level that should be made available for use in the templates. To make sure we don't have other issues with additional custom fields here, I'll send you the full list of custom fields to make sure are available in the t

[2015-02-27 15:30] tbstevens commented on #179
@Creekridge - RESOLVED! All Creekridge Manager's need to be assigned to the Vendor Services Group site as well as whatever other site they need to access. The vendor services group site is the landing page they hit and it's why it says page not found if they don't have access.

[2015-02-27 17:18] Creekridge commented on #179
@tbstevens thanks for looking into that!

Please close this issue.

[2015-02-27 17:35] Creekridge opened #192 "Pricing Option Selection to Docs"
@tbstevens  - In tweaking my documents, I decided to deselect 2 of my 6 pricing options in the "Include on Proposal" column.  When I generated the document, all 6 pricing options were printed.

[2015-02-27 17:42] Creekridge commented on #168
@tbstevens  - I just clicked on Submit without a "use on Application" selection and the page didn't refocus.  I was assuming it would when you had ANY data missing, not just field values.  How much time to fix?

[2015-02-27 18:33] tbstevens commented on #183
@divinami - Mike, here are the custom fields we need to make sure are available in the doc templates and pulling in the value according to the custom field key name (matches the names below).

Provider Name
Rep Email
Rep Name
Rep Phone
Vendor Address
Vendor Address 2
Vendor City
Vendor State
Vendor Zip Code

[2015-02-27 18:43] tbstevens commented on #192
@divinami - Hey Mike. In the Proposal Letter template, we need to make sure that only records with ProposalOptions.IncludeInProposal = True are presented in the Proposal Letter. It looks like its displaying all proposal options, regardless of whether the user chose to include them in a proposal letter (the purpose of that boolean field above). That was probably my miss in the original specs for yo

[2015-02-27 19:03] #179 closed

[2015-02-27 19:03] #187 closed

[2015-02-27 19:04] tbstevens commented on #189
Update: Met with Creekridge on topic. They are aware of the options available and will get us information if they choose to move forward with any of them. For now, the "create new account" option from the login page is disabled. Users will have to request access to sites via other methods with system admins adding the user manually.

[2015-02-27 19:26] tbstevens commented on #168
@Creekridge - It would take appox 1 hour for dev, built, test. Please let me know if you'd like to proceed as soon as possible to fit it in before the weekend.

[2015-02-27 19:27] Creekridge commented on #168
@tbstevens - Please proceed.

[2015-02-27 19:30] tbstevens commented on #168
@OlegForce - Added update in the descrption above.

[2015-02-27 20:50] divinami commented on #183
Added Rep Email, Rep Name and Rep Phone.  Others existed.

[2015-02-27 20:51] divinami commented on #192
Fix checked into Git.

[2015-02-27 21:17] tbstevens commented on #192
@Creekridge - tested in prod.

[2015-02-27 21:33] tbstevens commented on #183
@Creekridge - Ready in prod.

[2015-02-27 21:34] tbstevens commented on #168
@Creekridge - Ready in prod.

[2015-02-27 22:40] Creekridge opened #193 "Guest Users"
@tbstevens we have it set up so guest users can join. The only thing we noticed is that when a new user is joining, there is a message that states that the initial password is emailed to them....and no email is actually sent. Any way to fix this?

[2015-02-27 22:45] Creekridge commented on #168
@tbstevens  - refocus is now working.

[2015-02-27 22:47] Creekridge commented on #192
@tbstevens - confirmed working

[2015-02-27 23:19] Creekridge commented on #183
@tbstevens - Rep phone is now pulling, but [eCreekRidge_CreditApp.CustomerBusinessDesc] is not.

[2015-02-27 23:27] Creekridge commented on #183
@tbstevens  - weird - I just completely closed out and back in and now the [eCreekRidge_CreditApp.CustomerBusinessDesc] is working.

[2015-02-27 23:29] Creekridge opened #194 "Equipment Address fields not populating"
@tbstevens - When the "Equipment Address is same as Customer Location" is checked, the Equipment Address fields are not populating in the database or the documents.

[2015-02-28 00:04] tbstevens commented on #194
@olegforce - could you modify the behavior to populate the hidden fields if same address is checked and make sure they save to the db?

[2015-02-28 01:08] #192 closed

[2015-02-28 01:08] #183 closed

[2015-02-28 01:09] #168 closed

[2015-02-28 18:21] tbstevens commented on #193
@Creekridge - I tested out all other types of email. It appears to have stopped working across the board. I'm not sure when this occurred. My suspicion is based on one of the prod environment changes (dmz, domain, ssl) but I'm not sure when it stopped working. Do you happen to have an email from testing that would give us a good idea of when the emails stopped working?

Here's the error from the l

[2015-02-28 18:27] kdolan12 commented on #193
@Creekridge can you verify the IP for the mail server?  192.168.0.9 looks like an dynamic IP address for the machine.

to SMTP host: 192.168.0.9, port: 25, response: 421

[2015-02-28 19:00] tbstevens commented on #193
@Creekridge @kdolan12 - Looking back on the original email it looks like the current smtp we are using is for internal. When we tried to setup the owa.leaseaccess.info/exchange smtp it didn't work and we set it up with the internal ip. I tried adjusting the settings to change the smtp to "owa.leaseaccess.info/exchange" but it is still not working.

[2015-02-28 19:13] tbstevens commented on #193
@Creekridge - Could you confirm if "owa.leaseaccess.info/exchange" is the actual smtp we need?

I tried logging into https://owa.leaseaccess.info/owa with the same credentials provided to see if I could get/verify the smtp (https://support.office.com/en-au/article/Settings-for-POP-and-IMAP-access-for-Office-365-for-business-or-Microsoft-Exchange-accounts-7fc677eb-2491-4cbc-8153-8e7113525f6c) but I

[2015-02-28 19:41] Creekridge commented on #193
Where are the email settings in Liferay?  There are a few options I'd like to try,

Sandy

On Feb 28, 2015, at 1:13 PM, tbstevens <notifications@github.com<mailto:notifications@github.com>> wrote:

@Creekridge<https://github.com/Creekridge> - Could you confirm if "owa.leaseaccess.info/exchange" is the actual smtp we need?

I tried logging into https://owa.leaseaccess.info/owa with the same credent

[2015-02-28 19:45] Creekridge commented on #193
It isn't a dynamic IP....it's an assigned and reserved IP.

Sent from my iPad

On Feb 28, 2015, at 12:27 PM, Kristian Dolan <notifications@github.com<mailto:notifications@github.com>> wrote:

@Creekridge<https://github.com/Creekridge> can you verify the IP for the mail server? 192.168.0.9 looks like an dynamic IP address for the machine.

to SMTP host: 192.168.0.9, port: 25, response: 421

—
Reply

[2015-02-28 20:36] tbstevens commented on #193
@creekridge - email settings are at admin>control panel > configuration > server administration > mail

Its the outbound settings if you scroll below the inbound settings.

[2015-02-28 21:56] Creekridge commented on #193
@tbstevens - made some changes to the server and my email server and it's working now.

[2015-02-28 23:36] tbstevens commented on #193
@creekridge - great to hear. I'll go ahead and close this one out. Thanks Sandy.

[2015-02-28 23:36] #193 closed

[2015-03-02 18:22] tbstevens commented on #194
@Creekridge - In prod, ready to test.

[2015-03-02 20:03] Creekridge commented on #194
@tbstevens  - tested on new app - working.

[2015-03-02 22:14] #194 closed

[2015-03-05 14:46] Creekridge commented on #191
@tbstevens the liferay favicon is fine at the moment.  Thanks!

[2015-03-05 14:50] Creekridge commented on #189
@tbstevens we figured out how we'd like to hand this. At this time, we don't need any help from you.  Thanks!!

[2015-03-05 14:51] Creekridge commented on #188
@tbstevens this is a feature we'd want to add in the future, but not at the moment.  Just put this request on a long-term hold for us! Thanks.

[2015-03-05 14:52] Creekridge opened #195 "Notifications on Blue Bar"
@tbstevens They are back........

[2015-03-05 17:12] #189 closed

[2015-03-05 17:12] #191 closed

[2015-03-05 17:13] tbstevens commented on #195
@Creekridge - Ok. When deploying the same hook, the notifications disappear but there must be something causing the hook to be ignored after a server restart or something. I'll have our developer take a look at this. How critical is this in terms of priority? If we were able to get this fixed by next week is that acceptable?

[2015-03-05 21:07] Creekridge commented on #195
@tbstevens next week is acceptable.

[2015-03-05 21:08] Creekridge opened #196 "Emails Not Working"
Issue Description
-------------------------
In the Manage Documents screen, there is an option to email a customer. Selecting email brings up the email popup screen but after submitting an email, no email is sent. The following error shows up in the tomcat stdout log:

20:25:40,665 ERROR [ManageDocumentPortlet:481] javax.mail.internet.AddressException: Illegal address in string ``''

Expected:
---

[2015-03-06 02:39] tbstevens commented on #196
@divinami - Hey Mike - Not sure if you have any availability before the weekend. If not, feel free to assign this back to me and I can reassign. I know you didn't work on the email piece of the doc gen feature but I was hoping you might be able to take a look at this issue that is occuring in production for creekridge to see if you can resolve it. It looks like it isn't picking up the email addres

[2015-03-06 17:31] Creekridge opened #197 "Submit Button Email?"
@tbstevens when the green "Submit" button is clicked, this is not sending an email with the credit application information to the "Rep Email" we have in the custom fields. Please have this fixed on all vendor sites. We consider this an urgent fix. Thanks!

[2015-03-06 17:31] Creekridge commented on #197
@tbstevens to clarify, we aren't receiving any email that the button was clicked.

[2015-03-06 21:05] tbstevens commented on #197
@Creekridge - On the call it sounded like it is no longer an issue. Please confirm before I close it out.

[2015-03-06 21:07] Creekridge commented on #197
@tbstevens  - I believe so.  We haven't tested since changing it from your email address, but since you were getting the emails, we should be good.

[2015-03-06 21:17] tbstevens commented on #197
Sounds good. I'll close it out for now since I received that email today as proof that it is working.

[2015-03-06 21:17] #197 closed

[2015-03-06 22:19] tbstevens commented on #196
@Creekridge - Deployed to prod. Tested by emailing myself a doc from vendor1.

[2015-03-07 21:17] tbstevens opened #198 "Email Notification Body Editor does not appear as expected"
Issue
-----------
The liferay portal settings page is not displaying the ckeditor for modifying the body of various email notification templates.

Expected
------------
Should be able to edit body of email message.

[2015-03-07 21:27] tbstevens commented on #198
@Creekridge - Researched the issue.

The cdkeditor javascript file is being served up with these characters at the beginning of the file in the production server "Ã¯Â»Â¿"

This is due to a UTF-8 encoding on the cdkeditor.js file and for some reason the prod server is not liking the UTF-8 encoding. this is why it works in my local environment and not in prod. I'll have to look into this some more.

[2015-03-11 21:46] Creekridge commented on #196
@tbstevens  this is now working. Thanks!

[2015-03-12 12:45] #196 closed

[2015-03-19 15:55] tbstevens opened #199 "Issues with Credit App XML file"
Issue
------------
1. Vendor section of xml export has issues:
    No data or close to the column-value tag for VendorZip –
    Has: <column><column-name>VendorZip</column-name><column-value><![CDATA[
    Should be: <column><column-name>VendorZip</column-name><column-value><![CDATA[55439]]>    </column-value></column>
    No “</model> before the </Vendor> tag – this may be part of the same issue f

[2015-03-19 15:56] tbstevens commented on #199
@Creekridge - Logging and assigning issue through github.

[2015-03-19 15:56] tbstevens commented on #199
@mdivina - Let me know if you have any questions.

[2015-03-20 18:56] mdivina commented on #199
@tbstevens The current and expected xml above points to the same document.  Please send me the link of the correct current or expected xml.  Thanks.

[2015-03-20 19:49] mdivina commented on #199
The issue with the Vendor Zip Code is fixed now.

[2015-03-20 21:56] Creekridge commented on #195
@tbstevens just checking in to see when this will be fixed?

[2015-03-24 14:56] kdolan12 commented on #199
@mdivina What about the Vendor Phone?  It sounds like that was missing as well.

[2015-03-24 14:58] kdolan12 commented on #198
Here is the email from Ryan to Tom.  I talked to Ryan yesterday and he is going to post something on the Liferay boards to see if anyone else is having this issue.

**********************

Ok so I fixed the issues with the ckeditor/lang/en.js and it inserting BOM (Byte Order Marks) at the beginning of the files.  The problem is I don't think that the problem is solved.  All I am getting now is the

[2015-03-24 16:21] mdivina commented on #199
@kdolan12 Vendor Phone is fixed as well.  It was cutting off everything after Vendor Zip which doesn't occur now after the fix.

[2015-03-25 14:24] kdolan12 commented on #199
Sent updated War to Sandy for deployment.

[2015-03-25 14:25] Creekridge commented on #199
Haven’t received it.

Sandy Graves
IT Manager
O: 952.826.7884
F: 952.996.0270
Sgraves@creekridgecapital.com<mailto:Sgraves@creekridgecapital.com>
www.creekridgecapital.com<http://www.creekridgecapital.com/>

[CreekridgeCapital_Standard_Color.jpg]

This email message is for the sole use of the intended recipients and may contain privileged and confidential information. Any unauthorized review, use,